[2016-02-11 10:17] Kuchiru opened #5 "Bower.json missing?"
Hi,

I attempted to install your project, having never used bower before i gave it a go but it tells me that bower.json is missing and wont continue.
Will you add this at a later stage?

regards

[2016-02-12 02:40] jfurrow commented on #5
Hi @Kuchiru! Thanks for your interest. Sorry, but the readme was terribly out of date (I'm not using Bower at all anymore). I've since [updated it](https://github.com/jfurrow/flood#how-to-use).

Please let me know if you have any other questions!

[2016-02-12 02:40] #5 closed

[2016-02-12 07:34] Kuchiru commented on #5
Awesome thanks for the update and keep it up, this project is awesome!

[2016-04-04 01:59] piperun opened #12 "[FreeBSD] flood exits with Exit code 1"
I'm kind of new to both node.js and flood, but on my test machine, it seems to not being able to run since it gives me this rather cryptic error message:

[code]

Also when I did npm start > file I got this output from gmake:

[code]

[2016-04-04 16:21] piperun commented on #12
I also noticed that this happens on AlpineLinux, but runs fine on Ubuntu Server.

[2016-04-05 02:52] piperun commented on #12
I've further nailed it down to it showing:

`GET /client/torrents 500 11.004 ms - 2`

[2016-04-05 03:53] jfurrow commented on #12
Thanks for filing the issue! I'm not sure what's going on here but I'll investigate. I'm installing FreeBSD on a VM right now to test it out myself.

[2016-04-05 04:31] jfurrow commented on #12
While I'm setting this up, can you see if there are any errors in your browser's console when you access the instance running on Ubuntu Server?

[2016-04-05 05:46] jfurrow commented on #12
For what it's worth, I was able to get the node app running on FreeBSD 10.3 with Node 5.9.1 and NPM 2.14.7. I have not installed rTorrent on this VM yet, but the app is running. What versions of FreeBSD, Node, and NPM were you trying, out of curiosity?

Next I'll try to duplicate the issue you found with Ubuntu Server.

[2016-04-05 13:52] piperun commented on #12
No problem, I was running FreeBSD 9.3-RELEASE-p31 (FreeNAS version) inside a jail, where I tested the pkgng version (which was the latest 5.9.x and NPM 2.14.7) and the Node4 version found in the /usr/ports/www/node4 catalogue.

Both failed at the same step.

Also I am not sure if I should be running flood as root or as a normal user, I tried with both and both failed.

With Ubuntu, I found the fol

[2016-04-07 04:06] jfurrow commented on #12
I run Flood on Ubuntu (this is my torrent server) as a normal user. It works both as root and normal for me, so I'm struggling to figure out what could be causing the `500` errors.

I just pushed a small commit that will trace the origin of the `500` error you're receiving. Could you please try this again and let me know what output you see in the terminal? I just added some simple error tracing t

[2016-04-09 08:02] piperun commented on #12
It's fine, after all it's part of the joy when dealing with software. :-)

Unfortunately I am very busy and will not be able to post results until much later.

I think the problem with both Alpine and FreeBSD is that they don't use glibc (as you said), but I might be wrong when it comes to FreeBSD.

[2016-04-09 17:40] jfurrow commented on #12
No worries. Thanks for opening the issue! I'll put more effort into cross platform support, possibly by removing the dependency on libsass entirely.

[2016-05-09 03:10] markerikson opened #13 "Why switch from Redux to Flux?"
Hi.  I'd actually bookmarked Flood several months back as an example of a "real" project that used Redux.  However, I just came back across it, and I see that you switched from Redux to "vanilla" Flux.  I'm curious - were there any particular reasons why you did that, especially given that you had what looked like existing code in place?  I'd be interested in any thoughts or information you could

[2016-05-10 05:26] jfurrow commented on #13
Hey Mark, thanks for noticing!

I chose to stop using Redux because I didn't like that changes to the state tree resulted in all of my components re-rendering. I did some reading to see what other people were doing to mitigate this problem and I couldn't find anything satisfactory.

I prefer the explicit control I'm given by responding to specific events in my components, which I felt I could acco

[2016-05-10 05:41] markerikson commented on #13
Hmm.  If you're using the React-Redux package's `connect()` function to hook your components up to the store, they should generally only be re-rendering if there's actual new data coming in.  There _are_ a few nuances to that - it primarily uses shallow equality checks, so if you're creating new array references in your `mapStateToProps` functions by using `Array.map()` or something similar, that

[2016-05-11 04:14] jfurrow commented on #13
Thanks for this, Mark! I appreciate you reaching out and providing these resources. For now, I'll keep Flood the way it is (because it's progressing a lot slower than I'd like it to), but I'll definitely consider Redux for future projects.

[2016-05-11 04:14] #13 closed

[2016-05-11 15:52] markerikson commented on #13
Sure.

I'll throw in two more resource links for you.   I keep a list of high-quality React and Redux-related tutorials and articles over at https://github.com/markerikson/react-redux-links , and a catalog of Redux-related addons and utilities at https://github.com/markerikson/redux-ecosystem-links .

[2016-06-01 22:23] Lapin0t opened #14 "More settings"
Hi, thanks for this nice project! I was tired of all these ugly php WebUIs... I'm going to start some feature-request issues to give some ideas and provide feedback.

It would be nice if the settings popup contained all the rtorrent settings (peer count, dht, pex, directories, ports...).

[2016-06-02 03:39] jfurrow commented on #14
Thanks for filing the feature request! I'll definitely work toward mirroring rTorrent's settings — I agree, they are much-needed.

[2016-06-02 20:30] gretel commented on #12
working fine for me on `10-stable`:
[code]

[2016-06-02 20:32] gretel opened #15 "TypeError if rtorrent has no torrent at all"
[code]
as soon as the amount of torrents is larger than zero it starts to load fine.

[2016-06-03 04:08] jfurrow commented on #15
Thanks for reporting this! Fixed in #16

[2016-06-07 04:21] jfurrow commented on #14
I just added some rTorrent settings — let me know what you think! They're not comprehensive, but they do include some of the settings you requested. I didn't get all of them (I skipped peer exchange and DHT settings beyond the port), but I'll finish them this week. I'll keep this issue open until that happens.

Probably the most difficult part of this process is actually understanding what the set

[2016-06-07 13:06] maximuml commented on #14
How about GeoIp and Mediainfo?

[2016-06-09 05:45] jfurrow commented on #14
@maximuml Those would be nice additions, but I'd like to focus on exposing the core rTorrent settings. Feel free to open a separate issue for those and I'll get to them when I can!

[2016-06-09 05:54] jfurrow commented on #14
@Lapin0t I just added DHT and peer exchange toggles. I'll keep adding more, but let me know if you'd like me to prioritize anything in particular.

[2016-06-14 03:28] piperun commented on #12
@jfurrow thank you so much for your patient! I don't know what you manage to do but on my testbed (Ubuntu) machine, it now works.

I will have to wait and see if it works in production.

[2016-06-14 09:42] thde commented on #12
Just FYI flood works fine for me on Alpine Linux 3.4 and with the nodejs-lts package.

[2016-06-14 11:51] piperun commented on #12
@thde that could've been it that I did not use the lts version.

[2016-06-17 11:43] haihosilver commented on #14
Settings requests.

1. Check hash after download [ON/OFF]
2. DHT [ON/OFF]
3. Global maximum download/upload [VALUE]
4. Maximum rTorrent Memory usage in MB [VALUE]
5. RSS download manager
6. Labels
7. Auto-unpacking on matching labels

8. Maybe an "overall status-tab" showing global statistics like:
	- CPU usage
	- RAM usage
	- Disk usage
	- Global total upload
	- Global total download
	- Global to

[2016-06-17 17:22] haihosilver opened #27 "Clean Ubuntu 16 install fails."
[code]

[2016-06-17 20:15] ArtyumX opened #28 "Connection using rpc socket"
Hi, can you implement the connection using a rpc socket instead than using SCGI ?
Nice project btw, thanks :)

[2016-06-17 21:35] sa7mon commented on #14
@haihosilver Also, it would be great if those usage stats would have a nice pretty little graphs.

[2016-06-17 21:43] sa7mon opened #29 "Hash user passwords"
It would be great if `server/db/users.js` would contain the hash of a user's password instead of the plaintext. Indeally, something that implements key stretching as well such as PBKDF2 or bcrypt.

[2016-06-18 03:08] jfurrow commented on #29
Agreed, what I'm doing now is really dumb. Thanks!

[2016-06-18 03:13] jfurrow commented on #28
I'll have to do more research on this as I'm honestly not familiar with this concept. I do see now that it's the recommended approach to RPC with rTorrent, documented here: https://github.com/rakshasa/rtorrent/wiki/RPC-Setup-XMLRPC

Thanks for filing the issue!

[2016-06-18 03:18] jfurrow commented on #27
Thanks for posting this. It's failing at the `node-sass` installation, maybe just that specific version of `node-sass` has issues. Try running `npm install node-sass@latest` in your local checkout of this repo. If that succeeds then run `npm install && ./node_modules/.bin/gulp dist && nodemon ./server/bin/www`. If that fails then we'll need to figure something else out.

Thanks for the issue!

[2016-06-18 03:19] jfurrow commented on #14
Thanks! All good ideas. @sa7mon I love pretty little graphs :)

[2016-06-18 03:20] jfurrow commented on #12
Thanks for the followup, everyone! I really appreciate it. Glad to hear it's working more reliably. I'm going to close this, but please make another if you have any other problems!

[2016-06-18 03:20] #12 closed

[2016-06-18 07:53] zp opened #33 "Undefined directory when adding torrent by file"
I have my rtorrent default base download path set to `~/downloads` and whenever I add a torrent by file with flood, flood ignores it and instead creates/uses `~/undefined`.

Adding the same torrent by URL/magnet causes it to correctly use the `~/downloads` path.

Also, the `Start Torrent` tickbox seems to be ignored when adding torrents by file, doesn't get added in a paused/stopped state if the b

[2016-06-18 09:47] KennyWuLee commented on #27
`apt-get install nodejs-legacy`

[2016-06-18 10:31] KennyWuLee opened #34 "Setting to change URL base"
First of all great wrok, I like the app alot.

I would like to see a setting to change the url base.
for example to: /flood
similar too the way sonarr does it.

That way you can use a reverse proxy.

[2016-06-18 21:59] mahoek opened #36 "rtorrent removed from homebrew"
rtorrent got removed from Homebrew[1] so it is not that easy anymore to get it running on Mac OS X.

I fired up a Docker container with rtorrent and made flood connect with it.

[1]https://github.com/Homebrew/homebrew-core/issues/338

[2016-06-18 22:49] jfurrow commented on #33
Thanks for the issue! This is fixed by #37 and #38.

[2016-06-18 22:49] #33 closed

[2016-06-18 23:09] jfurrow commented on #28
Fixed in #28, props to @zp!

[2016-06-18 23:09] #28 closed

[2016-06-18 23:51] jfurrow commented on #27
I tested this on a new Ubuntu 16.04 install and verified that it does work when you use `nodejs-legacy`. You can use the same `npm` package. More details here: http://stackoverflow.com/questions/21168141/cannot-install-packages-using-node-package-manager-in-ubuntu

[2016-06-18 23:51] #27 closed

[2016-06-19 03:53] jfurrow commented on #34
Thanks! I'll work on this.

[2016-06-19 03:54] jfurrow commented on #36
Noooo! That's too bad. I'll update the readme, thanks for letting me know!

[2016-06-19 21:45] mahoek opened #40 "i18n support"
I thought it would be a nice feature for Flood to support i18n.

_I've been frustrated by the old rutorrent interface since I began using it years ago. I've had the idea of creating something like u did here for a very long time. So when I found out about Flood last weekend I was really excited and quickly started testing it. It looks really nice._

_I am just getting started with React and starte

[2016-06-20 05:26] jfurrow commented on #40
Thanks for this! I agree, this is absolutely necessary.

You've brought up a lot of really good questions, and unfortunately I don't have answers for all of them at this time. Let me take a bit of time to think before I say anything too binding :). One thing specifically I want to consider is what to consider `settings` vs `config`, and where/how these defaults should be defined/overridden. In the

[2016-06-20 15:32] mahoek commented on #40
Thanks for your reply. I will try to do some more work on the internationalization later this week. I will fulfill your requests mentioned above and open a PR as soon as I find some spare time. We then can discuss the further implementation of the internationalization in the PR then.

[2016-06-21 10:04] vBm opened #43 "[Windows] Torrents are not visible in the list"
I've tried `Flood` on Windows and it works just fine until i add torrent. I get torrent running in `rTorrent` in background and it's downloading but `Flood` doesn't show anything, upon refreshing `Flood` i get stuck into infinite loading. After removal of torrent from `rTorrent` i get `Flood` showing it's initial screen again.
Error that i saw in console is this one. Hope it helps.

[code]

[2016-06-26 10:03] piperun opened #44 "No extensive documentation?"
It would be really nice if there was a "Get started contributing" where it showcase more of what each file/directory is for.

[2016-06-26 16:05] jfurrow commented on #44
I agree. I want to restructure the component directory, as I've let it get really messy. When I do so I'll write some documentation for this.

[2016-06-26 16:06] jfurrow commented on #43
Sorry, I haven't had a chance to look into this yet, but will do so on a VM as soon as possible.

[2016-06-26 16:27] piperun commented on #44
Thanks, since I think this project might one day be able to replace rutorrent if it's able to scale.

[2016-06-27 02:35] jfurrow commented on #29
I implemented a much more robust authentication method in #45, using bcrypt to hash passwords. `server/db/users.js` is gone in favor of a `users.db` which will be created for you automatically.

[2016-06-27 02:35] #29 closed

[2016-06-27 23:11] gretel commented on #15
the issue has returned.

[2016-06-28 03:44] jfurrow commented on #15
Sorry you're hitting this issue again. Unfortunately I can't reproduce it, could you provide more details?

1. Are you sure you have the latest `master` branch checked out?
2. Is rtorrent empty when you start it, or you removing torrents when you hit this error? I tried both and could not reproduce the error.
3. How are you removing these torrents? Through the Flood UI or some other method?
4. Wha

[2016-06-28 05:34] zp opened #54 "Unable to add torrent files larger than 1.5 MB"
Running Flood from commit 9461817

Whenever I attempt to add a large torrent file (1.5 MB or larger), the UI returns an error 500.

[code]

I'm able to add multiple < 1.5 MB torrent files at the same time (that go over 1.5 MB total size), so it seems like it's isolated to a single-file size limit instead of a total size limit, at least according to my brief testing.

Also seems to work fine when a

[2016-06-28 11:27] vBm opened #55 "Sidebar stats should show 0 instead of NaN"
This is rather a minor thing.
On fresh start, instead of showing real number we get NaN.

![2016-06-28_13-24-39](https://cloud.githubusercontent.com/assets/80596/16413720/fada879a-3d33-11e6-9d93-b8fc3bba6b31.png)

edit: silly me, switching the two in title xD

[2016-06-29 20:23] gretel commented on #15
@jfurrow i am sorry, while the symptom appeared to be similar it's a very different story:
`Connection refused at 127.0.0.1:5000. Check these values in config.js and ensure that rTorrent is running.`
that has been true - as soon as i did start *rtorrent* the UI came up nicely - did upgrade to latest master nonetheless :)
thanks a lot for taking care!

[2016-06-29 20:23] #15 closed

[2016-06-30 15:38] saldru opened #56 "Add/Remove torrent - No Auto-Refresh WebUI"
Hi,

When I add or remove torrents, the WebUI will not auto-refresh and the changes are not taken into account by the interface.
I don't know if the problem comes with my configure or not.

Thank you for your work, it's so beautiful. :)

[2016-07-01 00:51] zp commented on #56
I've noticed there's an issue where the `emptyTorrentList` variable doesn't get changed if you add some torrent(s) when your list is empty, so you have to manually refresh.

Only thing I've noticed with removing torrents is that the # counter on the left sidebar doesn't update properly if you remove all of your remaining torrents at once. (ie, you have 2 torrents and remove them both, it still say

[2016-07-01 03:04] jfurrow commented on #56
Thanks for the kind words & filing an issue! It's definitely a problem with my code and will be fixed in an upcoming update. I'll update this when that happens.

[2016-07-01 03:04] jfurrow commented on #55
Agreed, should handle this better. Stay tuned...

[2016-07-01 03:07] jfurrow commented on #54
This is definitely a bug. I think it's a problem with the way I'm sending the base64 encoded torrent to rTorrent via node's `net` module. Do you happen to have a legal torrent that is over 1.5 mb that I can experiment with? If not, I'll track one down. I've just been trying to send large jpegs to expose the bug.

[2016-07-01 04:30] jfurrow commented on #56
To clarify, the torrent list was being fetched when torrents were added (but not when they were removed — that's fixed by this PR: https://github.com/jfurrow/flood/pull/57). However, rTorrent itself takes some time to report newly added/removed torrents, especially when the list of torrents is large. I have 1600+ torrents running and it sometimes takes several several seconds for rTorrent's torren

[2016-07-01 04:30] #56 closed

[2016-07-04 16:34] virpatel524 opened #61 "Installation Fails on Raspberry Pi"
Hey,

Starting flood seems to fail on the Pi with exit status 127. The program told me to notify you that: npm prune && npm install && ./node_modules/.bin/gulp dist && ./node_modules/.bin/nodemon ./server/bin/www

is failing. Ideas? I've tried to update most dependencies but still not sure.

[2016-07-04 22:11] jfurrow commented on #61
What OS are you running? There should be additional details above that message (or in `npm-debug.log`), could you paste those here?

[2016-07-08 06:56] mahoek commented on #40
Added with PR #42

[2016-07-08 06:56] #40 closed

[2016-07-08 16:37] saldru opened #64 "Add option to reset downloaded/uploaded data history"
Hi,

Can you add new option to allow user to reset the history of downloaded and uploaded data in graphics ? Thank you !

PS : I created an fr.js file for french translation like nl.js. How can I submit my work ?

[2016-07-08 22:00] mahoek commented on #64
You can always create a pull request with the French translations.

[2016-07-09 10:37] saldru commented on #64
Okay good, but, how can I find all variables in the interface like `settings.resources.memory.max.label` for complete translation ? I used the `nl.js` template to translate but it missing fields. I'm not a JS developer sorry.

[2016-07-09 15:39] jfurrow commented on #64
@saldru I will generate a list of all variables for you in a few hours. Thanks for being interested in helping!

[2016-07-09 16:02] saldru commented on #64
@jfurrow Thank you ! :)

[2016-07-10 01:08] jfurrow commented on #64
@saldru Sorry for the delay, this proved a little more challenging than expected. I originally planned to use [this plugin](https://github.com/yahoo/babel-plugin-react-intl) to extract all necessary messages, but there's some additional setup needed. I decided instead to create an `en.js` language file that you can use as an example — I am fairly certain it contains all message IDs used by the UI.

[2016-07-10 12:43] mahoek opened #76 "Improve torrent-detail/general tab"
I was thinking about improving the torrent-detail/general tab.
[code]
I think that free disk space should not be in the torrent detail modal. Maybe the sidebar is a better place?

And what about the tracker information? Should it be here or on the Tracker tabs?

Your thoughts and suggestions would be highly appreciated.

[2016-07-11 18:31] serut opened #79 "Is there a docker image for flood?"
Hello there !
I'm using docker on my VPS and I was wondering if you have planned to release an docker image or if it already exists.
By the way, I don't see on your readme if flood is multi-user or not. It's a lot better to store specific configuration files for each user by just using the authentification with nginx & htaccess - instead of creating 1 VM per user.

[2016-07-12 04:14] jfurrow commented on #79
I do not have a docker image created (though I agree it would make sense). If you'd be willing to submit a PR for it, I'd gladly accept it!

Flood has no concept of user permissions by any means. Right now you can create multiple user accounts, but they all have the same permission — either full access to the Flood API, or none. I do plan to add role-specific permissions in the future, but to be h

[2016-07-12 04:25] jfurrow commented on #76
We have discussed some of this in Slack, but I'll add my feedback here:
1. I agree that disk space is a more global statistic. However, rTorrent itself considers it a per-torrent statistic. I think this is because rTorrent is reporting the available space on the disk which contains that torrent's data (I think — maybe I'm wrong about this). So if we were to display free disk space in the sidebar,

[2016-07-12 10:14] serut commented on #79
I can create a working docker image, but I'm not experienced with `baseimage-docker` (in order to create the cleanest image possible).

I never run Flood, but if you create 2 users they will share the same XMLRPC entry point no ? So if I'm correct, that means they will see the same torrent list on the HMI.

In my case, each user has his own rtorrent process with his own XMLRPC entry point. When an

[2016-07-12 14:47] mahoek commented on #79
I've been thinking about multi-user for a while. Let me explain what I was thinking about:

Technically (I think) you can run multiple users who have all their own torrents, tags & settings on one Flood instance and one rTorrent instance. Flood could for example link torrents to a user and only show the torrents added by this user.

I am not sure if this is a good thing to do but the idea sounds n

[2016-07-12 18:56] mahoek commented on #76
1. In the meantime, while we haven't moved the free disk space to the sidebar, do you think we should let it in the general tab?
2. I agree. I'll let it on the general tab for now. We can move that later.

[2016-07-13 05:04] jfurrow commented on #76
1. Yes, I do think it should stay in this tab for now.
2. Cool :)

[2016-07-13 05:17] jfurrow commented on #79
@serut:
1. Re: mult-user, wow. I had no idea ruTorrent had this ability. Thanks for the explanation. I agree that solution is pretty solid.
2. Re: Docker images, I unfortunately have even less experience with Docker (though I really should get my feet wet). I'll do some more research on `baseimage-docker`. But still feel free to submit a PR if you get something together first. :)

@mahoek While th

[2016-07-13 10:32] serut commented on #79
@mahoek if you have a daemon per user you can control basically everything from speed limit, torrent limit, disk limit, and it consumes a few amount of RAM. You just need to open a lot of ports, but it's not big deal.

@jfurrow

Why such functionnality ? Example: you send a torrent from the HMI and you need to choose what daemon will handle that file ? Overkill.
Let's get back to the original subj

[2016-07-13 12:52] serut commented on #79
@mahoek on the issue #36 you say

Can you tell me how flood connects to your dockerised rtorrent ?
On my setup, it fails to reach `scgi://localhost:25001 `, but I don't know why.
Also, can you execute the following ?
[code]

[2016-07-13 14:56] mahoek commented on #79
I run rTorrent with `scgi_port` on 5000.

Flood `config.js`:
[code]

nginx config:
[code]

I will report the result of `netstat -lntu` when I am at home tonight.

[2016-07-13 15:55] serut commented on #79
If I'm right, the nginx `location /RPC2` is only used by rutorrent, no ? It looks like rtorrent can open the port `5000` by itself and Flood can connect to rtorrent using that scgi port

[2016-07-13 18:46] mahoek commented on #79
You're right I am running `diameter/rtorrent-rutorrent`. Running `netstat -lntu` on this docker container outputs this:
[code]

[2016-07-13 20:24] serut commented on #79
Oh yes ! Definitly, replacing `scgi_port=127.0.0.1:XXXX` into `scgi_port=0.0.0.0:XXXX` in the `.rtorrent.rc` file solved the issue.
Thank you @mahoek !

@jfurrow
Here is my proposal:

`Dockerfile`:
[code]
`config.flood.js`:
[code]

`supervisord.conf`:
[code]
`nginx.conf`:

[code]

My docker compose:
[code]

[2016-07-13 21:15] mahoek commented on #79
Nice @serut glad you got it working! Your proposal looks really nice. I am definitely going to try it within a couple of days. Thank you! 😄

Btw I see many projects create a separate repo for their Docker, Vagrant, Ansible, Chef, Puppet, etc. to keep the main repository clean.

[2016-07-15 15:22] maximuml opened #85 "Add mediainfo support"
Will be mediainfo and geoip available in flood?

[2016-07-22 02:11] jfurrow commented on #85
Yes, absolutely! I will add this soon.

[2016-07-22 04:45] zp opened #91 "Ability to set file priority on folders and entire torrent"
If you're downloading a torrent with a lot of files and/or directories, and you only want to download specific files, you currently have to set the priority for each individual file manually. (from what I can tell)

It would be nice to be able to mass set the file priorities for the entire torrent and/or the folders inside the torrent at once.

That way you can easily set all files in the torrent/

[2016-07-23 20:19] jfurrow commented on #91
I agree. I need to figure out a solid way of multi-selecting torrents. I'll work on this.

[2016-07-27 10:13] ansarhun commented on #61
Had a similar problem, when updating the dependencies (sass) make, g++ is required.
After installing these packages, the npm install worked.

[2016-08-13 21:54] jimlei commented on #79
I was looking around for a torrent client I could get a nice web ui for. I run this on my dockerized server at home so I trew together a couple of containers to link rtorrent and flood. I strongly suggest looking into using alpine as a base as it can achieve ridiculous image sizes

[code]

I will probably polish these up more in the future though they may or may not be relevant for people not usin

[2016-08-13 22:01] jimlei opened #108 "File browser instead of text input fields"
Would be nice to have a file browser instead of having to manually enter the paths. Something like this

![image](https://cloud.githubusercontent.com/assets/4523053/17645870/3840d57e-61b2-11e6-82f9-96ad872df3b0.png)

[2016-08-13 23:26] jfurrow commented on #108
I agree and definitely plan to add something like this.

[2016-08-14 13:13] jimlei opened #114 "Edit text in readme regarding config.secret (Bcrypt -> JWT)"
As far as I can see this is not used for Bcrypt hashing (which is a good thing) - but for JWT token creation. It might seem trivial but I'd suggest changing the text. I almost skipped the repo because I'm scared of custom implementations of Bcrypt.

[code]

[code]

[2016-08-14 18:04] jfurrow commented on #114
Great point, fixed in #115. Not sure what I was thinking...

[2016-08-14 18:06] #114 closed

[2016-08-14 20:52] jfurrow commented on #79
@serut @jimlei What do you guys think about this PR? https://github.com/jfurrow/flood/pull/97

I'm not very familiar with containers so I'd appreciate your input.

[2016-08-14 21:20] jimlei commented on #79
I'd suggest creating a separate repo for a potential docker setup and just linking to it from floods readme.

I'd also suggest that it's implemented with a multi container setup, preferably using alpine to get small image sizes. That way you retain the clean and "sassy" feel you get from the flood ui. It will also help if you later on decide to support multiple clients, you can then have the same

[2016-08-15 12:50] serut commented on #79
There is a some improvement with the pull request you've made @lafin
 - base the docker image on the lightest image possible, so debian is not good. Even my image takes too much space
[code]
@jimlei Alpine looks really good ! Thanks for the highlight, I will use it now.

- `.dockerignore` is useless : the optimal way to install flood in the image is to wget a zip from the master github branch. Som

[2016-08-15 14:25] jimlei commented on #79
@serut the worst thing about it is that it gets addictive. Having to run Ubuntu or other large bases feels horrible now :( Other downsides is that it's based on musl libc and packages will need to be ported to alpine before being really usable. This means you will need quite a bit of work to get non supported apps (like plex media server) to run on alpine.

But wow, the container sizes... 4,8MB fo

[2016-08-16 04:46] jfurrow commented on #79
Thanks for the explanations! I agree that alpine seems like the way to go. Especially since there is a (mediainfo package)[https://pkgs.alpinelinux.org/package/edge/testing/x86/libmediainfo] available for it, which I will be adding support for soon.

I created a repo for the Docker setup here: https://github.com/jfurrow/flood-docker Please feel free to open a PR against it and let me know if there

[2016-08-20 00:08] jfurrow commented on #76
I'm considering this closed for now, great work!

[2016-08-20 00:08] #76 closed

[2016-09-01 05:28] jfurrow opened #126 "Add internationalization support for units"
As specified in https://github.com/jfurrow/flood/pull/124

[2016-09-01 05:30] jfurrow commented on #91
This is mostly done in https://github.com/jfurrow/flood/pull/125. I will likely merge it within the next 72 hours.

[2016-09-01 16:40] stephdewit commented on #126
I'm looking at it (and some other translations) [here](https://github.com/stephdewit/flood/tree/improvement/complete-i18n).

[2016-09-05 19:45] phxn opened #128 "Flood not displaying in browser"
Sorted, please delete.

[2016-09-08 12:56] Embraser01 opened #129 "Unable to use flood"
I followed the guide but there is a problem. As I see, it's because when we install, there isn't the folder 'server/assets' which is created by gulp.

Also we can't launch gulp because the 'browser-sync' package is missing (devDependencies) :

    Error: Cannot find module 'browser-sync'
        at Function.Module._resolveFilename (module.js:440:15)
        at Function.Module._load (module.js:388:

[2016-09-08 15:44] pmwoodward3 opened #131 "Firefox error"
The stylesheet http://localhost:3000/style.css was not loaded because its MIME type, "text/html", is not "text/css".localhost:3000

SyntaxError: expected expression, got '<'

White page when viewing Flood on firefox.

[2016-09-09 13:52] Embraser01 commented on #131
Same issue [here ](https://github.com/jfurrow/flood/issues/129), I give a fix ;)

[2016-09-10 18:31] Wonderfall commented on #79
I've made my own here : https://github.com/Wonderfall/dockerfiles/tree/master/rtorrent-flood
It suits my needs but perhaps it can inspire you. My philosophy is "one service per container" rather than "one process per container" (which the official Docker philosophy), that's why I like AIO images. But there's no best choice I think, if you go for a one process container don't forget to provide a do

[2016-09-11 12:47] serut commented on #79
This is a very good image @Wonderfall ! alpine, well designed,... great job !
I think that's a good start for @jfurrow to make the flood-docker with rutorrent separated from flood, with the corresponding docker-compose. ~ 90% of the work is done.

[2016-09-12 12:58] xataz commented on #79
Hi,

I work on my own flood image, unlike @Wonderfall (@Wonderfall made a very good image), my image is "one process per container", also based on alpine.
I try to finish for this tonight.
I will provide also the docker-compose.yml.

XataZ,

PS : Sorry for my english,

[2016-09-13 04:02] #128 closed

[2016-09-13 04:53] jfurrow commented on #131
This is fixed in https://github.com/jfurrow/flood/pull/132

[2016-09-13 04:53] #131 closed

[2016-09-13 04:53] jfurrow commented on #129
Thanks, this is fixed in https://github.com/jfurrow/flood/pull/132

[2016-09-13 04:54] #129 closed

[2016-09-14 03:21] #126 closed

[2016-09-14 03:21] #91 closed

[2016-09-14 03:22] jfurrow commented on #91
#125 finally merged :)

[2016-09-14 03:49] jfurrow commented on #36
Removed in https://github.com/jfurrow/flood/pull/134

[2016-09-14 03:49] #36 closed

[2016-09-15 17:14] phxn opened #135 "Allow sorting in ascending and descending order"
It would be nice to be able to sort torrents in ascending and descending order.

Many thanks.

[2016-09-16 02:29] jfurrow commented on #135
Although it's not intuitive, currently you can toggle between ascending and descending order by re-selecting the previously selected property from the "sort by" dropdown. I'll add an icon to make this more apparent.

[2016-09-16 02:29] #135 closed

[2016-09-25 00:11] phxn commented on #135
Hello, this isn't the behaviour I'm seeing when doing that.

Trying to sort "Added" descending and it just stays in ascending.

[2016-09-26 23:19] phxn commented on #135
An update on this, I noticed that I can change sort order when I manually add torrents.

However, when I send .torrents to rtorrent (with autodl-irssi for example) it won't change sort order.

[2016-09-27 04:55] jfurrow commented on #135
Thanks for the extra information. By which property are you trying to sort the torrents? I am able to toggle the ascending and descending sort order on every property.

The only caveat to that is the date `added` property. It's only possible to sort torrents by the `added` property if the torrent has the timestamp on the custom field called `addtime`. This is custom field is used by ruTorrent, so

[2016-09-27 12:35] phxn commented on #135
Hello, thank you for the reply.

Yes I am trying to sort by "Added". In this case, would this command work?

    system.method.set_key = event.download.inserted_new, loaded_time, "d.set_custom=addtime,$cat=$system.time= ;d.save_session="

Many thanks.

[2016-09-28 02:51] jfurrow commented on #135
@phxn Actually that `d.save_session` command won't work. But this should!
`system.method.set_key = event.download.inserted_new, loaded_time, "d.custom.set=addtime,$cat=$system.time=;d.save_full_session="`

[2016-09-28 13:10] phxn commented on #135
Ah yes the syntax change! Thank you very much 👍

[2016-10-16 20:23] Daiyousei opened #147 "Different rtorrent config for different users."
Hello. it would be nice to define different rtorrent config (host/port) associated to differents users.
We could use the same Flood server to connect differents instances of rtorrent.

[2016-10-22 13:19] Angristan opened #150 "npm run start:production bug on Debian 8"
`npm install --production` works fine

[code]

[2016-10-22 13:29] Angristan commented on #150
Fixed by running what wasn't working... okay :|

[code]

[2016-10-22 13:29] #150 closed

[2016-10-24 10:11] Angristan opened #152 "Init script for a service ?"
Hello,

I see you are recommending to use screen to run flood. However, wouldn't it be more "clean" and practical to start/stop flood with a service ?

I tried to make one without success, and forever does not work either.

[2016-10-24 19:56] Angristan commented on #152
I tried this :
[code]

But it does not fish starting. Gulp seems to be executed though
And ExecStop will kill all npm process, which is a bit brutal ^^

[2016-10-24 19:57] Angristan commented on #152
Same problem with
[code]
or
[code]

only gulp seems to be working

[2016-10-24 20:54] Angristan opened #153 "! + red : what does it mean ?"
Hello,

I wonder why some torrents are red :
![screenshot_24-10-2016_b 6moz9dhe](https://cloud.githubusercontent.com/assets/11699655/19663559/d0926d7a-9a3c-11e6-850b-f91f20f0dea2.png)

What does it mean ?

[2016-10-24 20:59] Angristan commented on #153
BTW if I stop and then start the torrent, it get back to blue.

[2016-10-24 21:27] Angristan opened #154 "Uploads slots bug"
Hello,

I set this in my conf :
![screenshot_24-10-2016_b kcug-cri](https://cloud.githubusercontent.com/assets/11699655/19664556/44574b00-9a41-11e6-9bec-c85f60e1c785.png)

But it's seeding to more than 20 peers per torrent :

![screenshot_24-10-2016_b hzjntv6s](https://cloud.githubusercontent.com/assets/11699655/19664550/3bd34330-9a41-11e6-9ed4-59207db6e235.png)

Do I do something wrong ? :/

BTW,

[2016-10-24 21:31] Angristan opened #155 "Wrong download speed"
Hello,

Flood tells it's downloading at a very low speed, however all my torrents are finished :
![screenshot_24-10-2016_b 87hgkhz6](https://cloud.githubusercontent.com/assets/11699655/19664677/d8bcc9c8-9a41-11e6-9a3b-b0c1371cfac7.png)

Why ? Is it related to the trackers ?

[2016-10-24 21:32] Angristan opened #156 "Idea : Add the possibility to unselect a torrent"
When you click on a torrent, it's highlighted in blue.

However it is not possible to unselect it. I would be great for an improved visibility. For now, you have to refresh the page to not have any torrent highlighted.

What do you think ?

[2016-10-24 21:42] Angristan opened #157 "Idea : select multiple torrents at once"
It would be much easier when doing a mass delete for exemple.

[2016-10-25 09:21] Angristan opened #158 "Not deleting files when removing a torrent"
Hello,

when I remove a torrent and tick "delete data", it does not actually delete the files.

Is it a bug or is it on my side ?

[2016-10-25 09:35] Angristan commented on #158
It appears to be random, I'll update if it happens again

[2016-10-26 14:16] Angristan commented on #152
Not working either with

[code]

[code]

[2016-10-26 21:21] Spheerys opened #159 "Errors 500 when I try to go to the interface"
Hi,

Flood is running good until I try to go to http://myIP:3000
On the screen, I have this kind of errors :

[code]

What's going wrong ?

[2016-10-29 08:11] LucasAdam commented on #152
A init script would indeed be nice !

[2016-11-01 22:45] Angristan opened #164 "Torrent are not added"
Sometimes, when adding torrent it just does not work :
![screenshot_01-11-2016_b gy7z9qpo](https://cloud.githubusercontent.com/assets/11699655/19910385/de2f5456-a08c-11e6-9ced-0d832d85f15e.png)

If I add multiple torrents, I will stay on the "Add Torrents" window, but the other torrents will be added.

Here is what nodejs tells us :
[code]

[2016-11-01 22:46] angristan opened #165 "Favicon / Logo"
To improve the overall UI and add a recognition sign for the users, it would be great if someone could do a simple logo, so we can have a favicon.

[2016-11-02 02:09] jfurrow commented on #164
Thanks for the issue, I've not seen this before.

Are you adding torrents by URLs or by uploading the torrent files?

[2016-11-02 02:13] jfurrow commented on #153
Sorry for the delay — the exclamation point icon and red torrent is the error state. Flood determines a torrent has an error by looking for a value returned from the `d.message` method call to rTorrent. AFAIK this is how ruTorrent determines errors also.

You can see the error message by opening the torrent details modal and looking at the value for "message."

[2016-11-02 02:13] jfurrow commented on #147
I agree, I think this would be the best way to handle multiple users. Honestly it's not a high priority right now, but I would like to add it in the future.

[2016-11-02 02:15] jfurrow commented on #152
I'd gladly accept a PR for an update to the readme if you can get it working!

[2016-11-02 02:22] jfurrow commented on #154
This is a value used by rTorrent, Flood just allows you to adjust it. "Upload Slots Per Torrent" is supposed to do what it sounds like, according to this entry in the rTorrent wiki: https://github.com/rakshasa/rtorrent/wiki/Performance-Tuning

I honestly don't understand what the divider does (the key in rTorrent is called `throttle.max_uploads.div`). Here's a vague explanation: https://github.com

[2016-11-02 02:22] #154 closed

[2016-11-02 02:28] jfurrow commented on #155
This is the value reported by rTorrent, I'm assuming it's the overhead of communicating with trackers and peers.

[2016-11-02 02:28] #155 closed

[2016-11-02 02:28] #153 closed

[2016-11-02 02:29] jfurrow commented on #156
Yeah, I agree this should be possible!

[2016-11-02 02:31] jfurrow commented on #157
This is already possible. You can select multiple torrents by holding command/control (mac/others), or you can select a range of torrents by selecting one, then holding shift and clicking another.

[2016-11-02 02:31] #157 closed

[2016-11-02 02:32] #156 closed

[2016-11-02 02:36] jfurrow commented on #159
It looks to me like Flood can't communicate to rTorrent. Are you sure rTorrent is running and that it was compiled with XMLRPC support? Have you configured the `scgi` values in `config.js` under? Are you using a socket to communicate with rTorrent?

[2016-11-02 02:36] #152 closed

[2016-11-02 02:38] jfurrow commented on #165
This is on my long list of `TODO`s. Here's some progress on the logo: https://dribbble.com/shots/2855254-Flood-Logo

[2016-11-02 02:41] jfurrow commented on #61
I'm going to close this, seems like it's not an issue.

[2016-11-02 02:41] #61 closed

[2016-11-02 02:42] jfurrow commented on #14
I'm going to close this as most of these features have been incorporated. Feel free to open issues for specific settings (or groups of settings if it makes sense).

[2016-11-02 02:42] #14 closed

[2016-11-02 02:43] jfurrow commented on #43
@vBm Are you still seeing this issue? Sorry, it's actually not trivial to install rTorrent on Windows so I gave up on this a while ago.

[2016-11-02 05:56] vBm commented on #43
@jfurrow It's just too much hustle to set it up properly. Just compiled it from scratch and silly rT doesn't even work unfortunately. God knows what's broken in cygwin :D

[2016-11-02 09:37] Angristan commented on #156
Oh thanks !

[2016-11-02 09:38] Angristan commented on #157
This is so obvious haha, thank you

[2016-11-02 09:39] Angristan commented on #165
This logo is really good !

[2016-11-02 09:40] Angristan commented on #164
In this case it's files, but I think it already happened with magnet, I'm not sure anymore

[2016-11-03 04:15] jfurrow commented on #165
Thanks @Angristan! A simplified favicon is coming soon...

[2016-11-03 17:03] Angristan opened #167 "Update problem"
When I do a `git pull` :

[code]

Is it okay ?

[2016-11-04 03:48] jfurrow commented on #167
This means that something on your machine made changes to these files, which is weird if you didn't do that intentionally. You can see what changes were made by typing `git diff` (I'm curious what could have changed, so feel free to paste the output of `git diff` here).

In any case, you can quickly reset your local checkout by typing `git fetch origin && git reset origin/master --hard`. This will

[2016-11-04 03:48] jfurrow commented on #167
I'll close this but feel free to reopen if you feel it's necessary. Though Flood doesn't make an attempt to modify any files except database files in `server/db`

[2016-11-04 03:49] #167 closed

[2016-11-04 18:37] Angristan commented on #167
The list is very ling but it's basicaly this :
[code]

[2016-11-04 19:21] Angristan commented on #152
Another solution : using https://github.com/Unitech/PM2

[2016-11-04 20:52] parski opened #169 "License"
Have you considered adding a license to this product? I'm hesitant to attempt to contribute as I don't know what implications it will have.

[2016-11-05 18:05] Flyy-y commented on #164
Hey, i'm getting the same issue, only with some torrents, adding with files.
![flood2](https://cloud.githubusercontent.com/assets/7773641/20032465/b7e672e2-a38a-11e6-8498-80fbdf8646b9.png)
![flood1](https://cloud.githubusercontent.com/assets/7773641/20032468/be8050b4-a38a-11e6-8852-23aa0fbc5064.png)

[2016-11-05 20:31] jfurrow opened #171 "Add GeoIP support"
Initially reported in https://github.com/jfurrow/flood/issues/85

[2016-11-05 20:43] jfurrow commented on #169
Good call. I added the GNU GPL-v3 license here: https://github.com/jfurrow/flood/pull/172

[2016-11-05 20:45] jfurrow commented on #85
Mediainfo support is almost here, you can track it here: https://github.com/jfurrow/flood/pull/170
I created a separate issue for GeoIP support: https://github.com/jfurrow/flood/issues/171

[2016-11-05 20:48] jfurrow commented on #164
@Angristan Flyy-y could either of you provide an example of a torrent that exhibits this behavior? I can't seem to reproduce :(

[2016-11-05 20:56] Angristan commented on #164
If I find one again, I'll post here

[2016-11-05 21:18] jfurrow commented on #164
Thanks. I almost exclusively add torrents via URL but I'll start downloading them to try to reproduce.

[2016-11-08 17:53] duvholt opened #174 "Websockets"
Any plans to add websockets support instead of polling?

[2016-11-11 12:39] WonderWheel commented on #164
I've got the same problem when i add torrent...

[code]

It is private torrent so i can't share you.

[2016-11-11 12:41] WonderWheel commented on #164
I've got the same problem when i add torrent...

[code]

It is private torrent so i can't share you.

[2016-11-12 17:34] mbothorel opened #175 "Torrents are download in "undefined" directory"
Hello,

First, I would like to thank you for Flood. :)

I have an issue. When I add a torrent, it download it in ~/undefined/ directory. I can see the directory I configure in resources settings, it is the one I put in my .rtorrent.rc file.
I'm using Debian Jessie and rtorrent 0.9.2-1

How can I help or what informations do you need ?

Thanks.

[2016-11-13 16:14] mbothorel commented on #175
Well, it seems Flood puts torrents in default directory now. When I add a torrent, the destination displayed is my default dir.

In order to avoid such problems, is it possible to download torrents in default directory, even if no directory is specified ?

[2016-11-13 20:44] HarryLafranc commented on #164
I had this issue with all my torrents files containing accents or strange characters (like °, or ç, etc). Renaming the torrent file with a simple name resolved this !

Hope it helps :)

[2016-11-14 01:26] jfurrow commented on #175
Agreed, this should be handled better. It happens when the destination directory is empty.

[2016-11-14 01:27] jfurrow commented on #174
I don't have any plans in the near future, but I do agree it would be better!

[2016-11-14 01:29] #174 closed

[2016-11-14 01:29] jfurrow commented on #169
Fixed in #172

[2016-11-14 01:29] #169 closed

[2016-11-14 08:51] mekwall opened #176 "Notifications not initializing properly"
I am having this issue where I get stuck during initialization due to notifications never initializing, even though they seem to be loaded properly:

![image](https://cloud.githubusercontent.com/assets/37091/20258448/07f8d48e-aa50-11e6-97b9-9626c4e4d688.png)

The only way to get it to work is to delete `notifications.db` and restart flood.

[2016-11-15 05:40] jfurrow commented on #176
This should be fixed by https://github.com/jfurrow/flood/pull/177, but would you mind verifying?

[2016-11-16 10:10] binhex commented on #79
putting my hat in the ring too, i have successfully created a docker image, mine is a little bit more advanced including support for vpn providers (no ip leakage via iptables) and proxy support, as well as rutorrent and flood as 2 possible web interfaces to rtorrent.

https://hub.docker.com/r/binhex/arch-rtorrentvpn/

[2016-11-16 14:02] lustyffh opened #178 "can't start flood on Windows"
Hi, I'm complete noob with node.js. I ran npm install with no issues. However nmp run start:production returns error. Refer to the debug file below What's wrong here?

'0 info it worked if it ends with ok
1 verbose cli [ 'C:\\Program Files\\nodejs\\node.exe',
1 verbose cli   'C:\\Program Files\\nodejs\\node_modules\\npm\\bin\\npm-cli.js',
1 verbose cli   'run',
1 verbose cli   'start:production' ]

[2016-11-17 05:17] jfurrow commented on #176
I'm pretty sure #177 will fix this, so I'm going to merge and close this issue. Feel free to reopen if the issue persists!

[2016-11-17 05:17] #176 closed

[2016-11-17 05:24] jfurrow commented on #178
Hey @lustyffh, sorry you're having this issue. Unfortunately I don't see anything very useful in the output you provided, but I do appreciate you providing it!

Can you try running `node ./server/bin/www` from the root of the directory where Flood is cloned and let me know what happens?

[2016-11-17 05:26] jfurrow commented on #159
I'm going to close this because it seems to be resolved, but feel free to reopen if you're still having the problem.

[2016-11-17 05:26] #159 closed

[2016-11-17 05:27] jfurrow commented on #85
Mediainfo support is merged!

[2016-11-17 05:27] #85 closed

[2016-11-17 09:06] mekwall commented on #176
Since pulling the latest code it hasn't happened so I guess it's been resolved. Thanks for the quick fix! 👍

[2016-11-17 15:01] binhex opened #180 "[request] Please add a scheduler to Flood"
So unless i'm missing something then it looks like Flood doesn't currently have any way of controlling UL/DL via a hourly schedule, so this is a feature request to have this added in.

This is something that people who are not on completely unlimited connections will find necessary to prevent high dl costs and/or blocking/choking of their connection. It is also handy to be able to restrict bandwid

[2016-11-18 04:11] jfurrow commented on #171
Added in #179

[2016-11-18 04:11] #171 closed

[2016-11-18 04:11] jfurrow commented on #180
Agreed, this is needed! I've always planned on it, so it will come in due time. :)

[2016-11-18 13:26] lustyffh commented on #178
Hi jfurrow, thanx for prompt help. I kind of got what you are leading to. Actually `node ./server/bin/www` will do nothing as this is a unix path. However, I see no issues if I run this command as follows `node c:\flood-master\server\bin\www`. It seems to connect to rtorrent just fine. However, my next question would be how to amend path to www for the flood? It seems there's nothing relevant in t

[2016-11-18 15:44] mekwall commented on #176
@jfurrow Seems we celebrated success a bit too early. Issue is still happening :(

[2016-11-19 05:49] jfurrow commented on #178
@lustyffh I just merged a PR (https://github.com/jfurrow/flood/pull/181) that might fix your issues. Would you mind giving it a shot? Just run `git pull` in the Flood directory to update the `master` branch and run `npm run start:production`.

Your next question, "how to amend path to www for the flood," I'm not sure what you mean by this exactly. Could you please elaborate? Do you mean you want t

[2016-11-19 10:39] lustyffh commented on #178
Hi jfurrow, I did as you advised but it didn't help. Just in case, I did fresh install of the flood and attach log file here - https://dl.dropboxusercontent.com/u/59464099/log.txt.

And by amending the path I mean that `./server/...` is not a notation that windows understands normally. I think `./server/bin/www` is passed to flood as an argument. And that argument, IMO, should have different notat

[2016-11-19 11:56] maximuml commented on #85
error for single file

Trace: { error:
   { [Error: stdout maxBuffer exceeded]
     cmd: 'mediainfo /home/rtorrent/downloads/hdd2/HDTV_PRO' } }
    at /home/flood/server/util/ajaxUtil.js:7:17
    at /home/flood/server/util/mediainfo.js:26:15
    at ChildProcess.exithandler (child_process.js:220:5)
    at emitTwo (events.js:87:13)
    at ChildProcess.emit (events.js:172:7)
    at maybeClose (intern

[2016-11-19 23:40] Angristan commented on #167
Fixed with `chmod 664 -R *` in the directory. `mode 100644` was reffering to the permissions

[2016-11-21 20:59] Angristan commented on #158
Still happens.

[2016-11-22 05:44] jfurrow commented on #108
@jimlei This was implemented in https://github.com/jfurrow/flood/pull/182, let me know what you think!

[2016-11-22 05:44] #108 closed

[2016-11-22 17:38] linus-dev opened #184 "Notifications not initialising"
I saw a previously 'closed' but, however this issue is still occurring for me.
Notifications are not initialising, that seems to be the only problem, not quite sure what you need me to provide. Should be able to disable them or at least not limit the usage entirely based on notifications loading.
I fixed it by clearing notifcations.db in ./server/db

[2016-11-23 07:27] jfurrow commented on #184
Hey @linus-dev, I'm really sorry this is still happening and thanks for creating the issue. Just for my own sanity, are you 100% certain you're on `master` and pulled the latest from Github?

If you're fully up-to-date and just want to use Flood immediately, you can delete lines 87 to 93 in `client/scripts/components/Sidebar/NotificationsButton.js`: https://github.com/jfurrow/flood/blob/master/cli

[2016-11-23 08:23] linus-dev commented on #184
Yeah I pulled latest before posting.

[2016-11-23 14:40] ponchofiesta opened #185 "Deluge support"
Deluge is another Bittorrent client that features a [RPC interface](http://dev.deluge-torrent.org/wiki/Development/DelugeRPC). Maybe it is possible with not that much work to add support for Deluge?

[2016-11-24 05:36] JonesN7 commented on #184
Want to confirm I am also getting this bug on master. Let me know if there is anything I can provide that would be of help.

[2016-11-24 07:06] jfurrow commented on #176
@mekwall Sorry for the delay and for erroneously closing your issue. I didn't see your comment until just now. I am almost certain it's fixed by this PR: https://github.com/jfurrow/flood/pull/186. Would you be willing to verify?

Thanks, and sorry! This bug was also reported in https://github.com/jfurrow/flood/issues/184

[2016-11-24 07:08] jfurrow commented on #184
@linus-dev @JonesN7 I'm fairly certain this is fixed in https://github.com/jfurrow/flood/pull/186. Could one of you please verify? Check out branch `bug/fix-notifications-tooltip`

If nobody is available to verify the fix, I'll just merge this in the next 24 hours as I am 99% sure this fixes the bug you encountered.

[2016-11-24 07:14] jfurrow commented on #174
@duvholt I should add that I'd gladly accept a PR which converts the current polling implementation with websockets :)

[2016-11-24 07:16] jfurrow commented on #167
@Angristan this means that something is changing the permissions when you clone the repository — check out this Stackoverflow question: http://stackoverflow.com/questions/14557106/git-changes-my-file-permissions-upon-checkout

[2016-11-24 07:19] jfurrow commented on #165
Reopening this until I actually resolve the issue...

[2016-11-24 07:22] jfurrow commented on #158
@Angristan I've noticed this also, sometimes the `d.base_path=` response from rTorrent is an empty string, which is what Flood uses to determine the path of the torrent. I need to figure out why this happens.

[2016-11-24 07:24] jfurrow commented on #157
@Angristan no problem! Thanks for the issues! Sorry for the delay, I'm not being notified about closed issues... need to check my Github notification settings.

[2016-11-24 07:33] jfurrow opened #187 "maxBuffer exceeded when getting mediainfo"
@maximuml reported in https://github.com/jfurrow/flood/issues/85:

error for single file

[code]

[2016-11-24 07:33] jfurrow commented on #85
@maximuml please track this in https://github.com/jfurrow/flood/issues/187 and provide any additional details.

[2016-11-24 07:39] jfurrow commented on #187
@maximuml What happens when you try to run `mediainfo` via your terminal on this file?

[2016-11-24 07:42] jfurrow commented on #185
@ponchofiesta I definitely would like to add support for Deluge in the future. I haven't looked into how much effort this is, but honestly I've de-prioritized this until Flood has the stable feature set I want with rTorrent.

That said, I'd gladly welcome some discussions (or PRs) about how this could be implemented. Ideally I'd like Flood to be as agnostic as possible about which client it's inte

[2016-11-24 07:52] ponchofiesta commented on #185
I think the biggest problem will be the feature differences. I saw the issue about scheduling, which will be added to flood. Deluge does this by its own, for example. Sadly in next months I will not have time to work on this.

[2016-11-24 12:29] duvholt commented on #174
@jfurrow I might look into it. A bit busy with exams at the moment. :smile:

[2016-11-24 22:44] linus-dev commented on #184
@jfurrow It actually initialise properly when I launch it now, I believe it is working properly now, thank you!

[2016-11-25 01:19] jfurrow commented on #184
@linus-dev Great! I'll merge that PR and close this. Thanks for testing it!

[2016-11-25 01:19] #184 closed

[2016-11-25 02:46] jfurrow commented on #176
@mekwall Another user confirmed this was fixed by https://github.com/jfurrow/flood/pull/186. Pull the latest from `master`; if this is still happening, feel free to re-open this issue.

Thanks for reporting!

[2016-11-25 20:22] #187 closed

[2016-11-25 20:23] jfurrow commented on #187
@maximuml Fixed in https://github.com/jfurrow/flood/pull/188

[2016-11-28 20:02] Porco-Rosso opened #190 "possible feature: Compact view"
Hi, firstly amazing job. Not only was flood a breeze to set up, it looks absolutely beautiful!
The only thing missing is some of the more advanced features of rutorrents' plugins. But i'm sure those are to come.

If you would consider it, I would like to suggest a "compact" list view.
For instance I have a lot of torrents, and it's hard to get a good overview seeing how much vertical space each to

[2016-11-30 00:17] gcrevell opened #191 "Unable to view list in Safari"
The list of current torrents never appears when viewed in Safari. I can view the list page but it shows nothing in the list as if I had no torrents. The numbers under the different status groups is correct. But no list. Any idea why or how to fix?

[2016-11-30 05:59] jfurrow commented on #191
Thanks for the issue! It's probably a relatively simple styling bug, I'll try to get to it ASAP.

[2016-11-30 06:02] jfurrow commented on #190
Thanks for the kind words! I definitely agree that this is necessary and will be adding it soon™. It will likely exist (at least initially) as an option in the User Interface section of the settings.

[2016-11-30 15:56] Porco-Rosso commented on #190
Sure I'll add the features I'd like to see first as other issues

[2016-11-30 21:47] Spheerys commented on #159
OK it was the port inside the scgi values in config.js.
Thanks ;)

[2016-12-01 09:50] Spheerys opened #192 "How to directly load a torrent in Flood from Firefox ?"
Hi,
Is there an addon for firefox to load torrent file directly fron my browser to my flood instance ?

[2016-12-02 05:55] jfurrow commented on #192
There is not. I honestly don't plan to do this, unless a lot of people think it would be helpful. Even then, it would be a ways off; there are a lot of other features I'd like to build that I think are more important.

Sorry, and thanks for the issue!

[2016-12-02 05:55] #192 closed

[2016-12-03 23:51] jfurrow commented on #191
This is fixed by https://github.com/jfurrow/flood/pull/193

[2016-12-03 23:51] #191 closed

[2016-12-06 20:45] Angristan commented on #164
Another problem with [this torrent](https://file.quad.moe/Westworld_1973_BDRip_1080p_DTS_multi-_HighCodePH.torrent). Renaming the file didn't help
[code]

[2016-12-08 02:49] jfurrow commented on #164
@Angristan You can increase the allowed size of XML RPC commands with the this setting in your `rtorrent.rc` file: `network.xmlrpc.size_limit.set = 2000000` (this is approx 2MB)

[2016-12-08 08:54] fundies opened #195 "Run on existing web server?"
Can I use this on top of lighttpd without starting an extra service? If so, how?

[2016-12-08 14:09] jfurrow commented on #164
@HarryLafranc @Flyy-y @Angristan The issue with torrent filenames was fixed by https://github.com/jfurrow/flood/pull/196. Thanks for your patience!

[2016-12-08 14:09] #164 closed

[2016-12-08 14:12] jfurrow commented on #195
No, the node application is a requirement. It is responsible for communicating to rTorrent, storing databases, etc. You could proxy connections through lighttpd to the node application: http://serverfault.com/questions/363654/run-a-node-js-app-with-lighttpd

[2016-12-08 14:12] #195 closed

[2016-12-11 21:04] Daiyousei opened #199 "ERROR in ./client/scripts/components/Sidebar/TransferRateGraph.js"
I made a git pull from commit 540a6f4a21e4de5d28a613105435b05f108a400e to current head (commit 392856d6dbdc4ad41fe915b53967e593745682b2). I have the folowing error on startup.
[code]

I already did a "npm install --production"

[2016-12-11 22:45] jfurrow commented on #199
@Daiyousei Sorry, dumb mistake on my part. This is fixed in master now.

[2016-12-11 22:45] #199 closed

[2016-12-12 23:04] Meroje commented on #34
Hey, just had to make flood work behind a reverse-proxy on a subpath.
Here's what I did:

[code]

I aliased axios to make a custom instance that gets its baseUrl from current window location minus last part of path if no trailing slash (so /flood/api is /flood/ but /flood/ stays as /flood/), and I changed the assets to be relative too (so the browser does the same axios trick on its own).

It woul

[2016-12-17 22:36] loskutov opened #203 "No option to get the downloaded files via browser"
Some other rtorrent web interfaces (such as pyrt) allow to download the files to your machine with browser. This seems to be a useful (and not hard to implement) feature.

[2016-12-18 05:59] xiayyu opened #204 "few features request"
* fast resume when add torrent (skip checking hash for downloaded torrent)
* ~~set tag when add torrent~~ (Done in #248)
* ~~more convenient way to prompt torrent details, perhaps double clicks on torrent list, rather than a small icon on the right.~~ (Done in #247)

I have tested flood for two days, truly fond of it. I basically need a local GUI for rtorrent but the config of php and nginx of rut

[2016-12-18 11:30] Porco-Rosso commented on #203
Agreed, If you are going to implement this, please allow the downloading of folders as well.
these might be a good place to start:
https://stuk.github.io/jszip/
https://github.com/sindresorhus/multi-download

[2016-12-19 15:17] varyoo commented on #204
I would like to add to this list the following:
* a field in `config.js` to set the default umask (when Flood creates folders, moves files...), simillar to `system.umask.set` in [rtorrent.rc](https://github.com/rakshasa/rtorrent/blob/master/src/command_local.cc#L267)

[2016-12-19 21:19] phxn opened #205 "dist-gulp issue"
Fixed. Please delete.

[2016-12-21 12:02] bluecmd commented on #79
FWIW, I'm running Flood in [Kubernetes](kubernetes.io) using this Docker file:

[code]
and this K8s config:

[code]

[2016-12-22 11:44] RokenTroll opened #206 "Sequential download"
Have you planned to add an option to download in sequential mode? As in Tixati for example ?

[2016-12-22 16:53] bluecmd commented on #34
I will need this as well, it would be a much appreciated enhancement :-)

[2017-01-02 14:53] sklirg commented on #34
The solution posted by @Meroje works fine for me, on a domain like `example.org/sklirg/flood/`. I'd love to see this make its way into master. :)

[2017-01-02 22:34] nd4pa opened #207 "Fork / alternate Backend Idea"
Your front-end is almost perfect, ticks are just a bit slow, what if we could rewrite de torrent client in Javascript with that : https://github.com/feross/webtorrent (i'm talking about the node lib here, the one that talks bittorrent over TCP/UDP ),  and maybe remove the time when the backend of flood talk to rtorrent over the API ?

Just an idea, i'm not that experienced, so please let me know i

[2017-01-03 22:49] noraj1337 opened #208 "API error 401 for remote user on first time"
Hi,

I installed nvm and nodejs as a user (install in home directory) on my dedicated server.
I cloned flood in my user home directory.
I configured flood and started it.
As it is installed on my remote server, I need to do a local port forwarding via ssh to test flood (in order to avoid a web server proxy at teh beginning): `ssh user@example.org -L 3000:localhost:3000`.
And then on my guest I can

[2017-01-03 23:07] noraj1337 opened #210 "default download directory not automaticaly set when adding a torrent"
When adding a new torrent.

If **destination** is let as default (`\`) and then you start the torrent. The torrent won't begin to be downloaded.

If you check torrent location you can see that the value is `undefined`.

This is not normal because a **default download directory** is set in **settings** > **ressources** > **disk**. Value was `/home/user/torrents`.

Then if you right click on those t

[2017-01-03 23:38] noraj1337 opened #211 "Contextual menu disappear if not hover over"
Using Firefox 50.1.0, when right clicking on a torrent and instantly releasing the button, the contextual menu disappear.

![](https://i.imgur.com/6GkRhpc.gif)

But if I right click on a torrent and then I hover over iI can release the mouse and the contextual menu doesn't disappear.

![](https://i.imgur.com/Cuo2aU7.gif)

Sorry for the screencast glitches (when you see my background).

[2017-01-03 23:43] noraj1337 opened #212 "[Request] per torrent speed limit"
I would be great if we can be able to set a speed limit **per torrent** additionnaly to **global** speed limit.

[2017-01-04 00:28] noraj1337 opened #213 "[Request] Detailed list design"
## Request

It could be great if you add an additionnal detailed list view and let user the possibility to switch between the current view (actuall flat design) and a detailed list view.

Here an example of a detailed list view (from ruTorrent):

![](http://i.imgur.com/842HPOU.png)

Here is the actual design for teh same torrent:

![](http://i.imgur.com/ewPowIk.png)

## Why?

The actual design is

[2017-01-04 00:48] noraj1337 opened #214 "[Request] examples of systemd service file with tmux and screen"
You said you used `screen` to detach flood from shell but I tried to write a systemd service (/etc/systemd/system/flood.service) with tmux:

[code]

But it doesn't work.

It would be great if you can find a way to provide some examples of systemd service file with tmux and screen.

[2017-01-04 09:57] scoobynz commented on #190
+1 for compact view

[2017-01-04 18:57] varyoo commented on #214
Another approach: https://aur.archlinux.org/cgit/aur.git/tree/flood.service?h=flood-git

[2017-01-04 23:49] noraj1337 commented on #214
+ I installed nodejs and npm globally.
+ I created a new user flood.
+ I installed flood in `/srv/flood` and chown it to flood user
+ I change `/etc/systemd/system/flood.service` to:

[code]

It works. But no killing via systemd. And the whole process should be written in the README.

[2017-01-05 03:33] jfurrow commented on #207
Eventually I'd like Flood to support many different torrent clients. But because I use rTorrent, and it is already popular and works extremely well, I chose to start with rTorrent.

The UI refresh ticks should be configurable, at the very least, and in the future should make use of web sockets or similar to update pertinent data only when necessary.

For now I'll close this, but feel free to conti

[2017-01-05 03:33] #207 closed

[2017-01-05 03:33] jfurrow commented on #190
@scoobynz I agree! It's currently in the design phase :)

[2017-01-05 03:34] jfurrow commented on #203
Agreed, this is needed.

[2017-01-05 03:35] jfurrow commented on #204
Thanks for the kind words and feature requests @xiayyu and @varyoo! It would be helpful if you could create separate issues for these. I'll leave this open until then.

I do agree with all of your options, just need to prioritize them and the time to implement them...

[2017-01-05 03:36] jfurrow commented on #205
:)

[2017-01-05 03:36] #205 closed

[2017-01-05 03:38] jfurrow commented on #208
Thanks @noraj1337, I'll look into this ASAP.

Regarding the asset compilation, I totally agree, and plan to remove it entirely by committing the compiled assets to the repo.

[2017-01-05 03:39] jfurrow commented on #210
Thanks @noraj1337 I'll fix this ASAP>

[2017-01-05 03:41] jfurrow commented on #212
I agree and I need to research how this is currently handled in ruTorrent.

[2017-01-05 03:42] jfurrow commented on #213
@noraj1337 I totally agree, this is coming soon! It's in the design phase now.

[2017-01-05 03:42] #213 closed

[2017-01-05 03:44] jfurrow commented on #214
Things like these probably belong in the wiki rather than README (even my `screen` recommendation should be in the wiki, if anywhere). I'd love to see your contributions there!

[2017-01-05 03:46] #214 closed

[2017-01-06 05:33] jfurrow commented on #208
@noraj1337 After more thoroughly reading your reproduction steps, I'm 99% sure this is not a bug.

The 401 response from the server on initial load is expected and not a bug. When you are not authenticated, Flood returns a 401 unauthorized status. If there are no user accounts present, it will prompt you to create one. This is working as expected.

I'm going to close this issue, but please re-open

[2017-01-06 05:33] #208 closed

[2017-01-07 00:19] Astridax opened #216 "User permissions / private and shared torrent downloads"
Hey there, awesome work so far!

So I noticed that while you can create users in the interface, the implementation so far seems pretty limited.

As far as I'm aware, all users seem to be able to see a list of torrents that any user is downloading and what's more, all users seem to have full permission to do as they please to these torrents and even other users, deleting them at will.

My current w

[2017-01-07 09:58] noraj1337 commented on #208
I think I understand, the API return 401 until a user is login. Thanks

[2017-01-07 10:03] noraj1337 commented on #211
This bug happens with Firefox 50.1.0 on Linux.
But yeaterday I used Firefox Developer Edition 52.0a on Windows and it was working.
I don't know if it can help you.

[2017-01-07 10:32] noraj1337 commented on #214
Wiki article done: https://github.com/jfurrow/flood/wiki/Install-flood-with-a-service-account

[2017-01-11 03:35] jfurrow commented on #216
You're right, users right now have access to everything. I do agree that some sort of user management would be beneficial.

I would gladly accept some help in this effort. While this feature would be awesome, I don't think it's the most important feature at the moment, and I think I should be focusing on other features.

If you're up for it, let's discuss how best to implement this before you begi

[2017-01-13 02:09] Astridax commented on #216
Sure sounds good! How do you want to disccus this. Either here, via email or some other method?

[2017-01-13 05:23] jfurrow commented on #214
Thanks @noraj1337!!!

[2017-01-13 05:25] jfurrow commented on #208
That's correct. The Flood UI handles the 401 error gracefully (by prompting for login) and is expected behavior.

Thanks for the issue!

[2017-01-15 05:25] onedr0p opened #218 "Add support for labels when adding torrents"
I would love to use this daily but lack of supports for labels is holding me back. When I add a torrent I would like to set the label and I would also like to be able to filter the list by labels.

This app looks beautiful by the way.

Thanks.

[2017-01-15 05:27] onedr0p opened #219 "Filter torrent list by tracker"
Maybe show the trackers on the left component, and you can click to filter them.

[2017-01-15 05:28] onedr0p commented on #34
Please add this, a lot of people run apps thru a reverse proxy. Thanks!

[2017-01-15 05:31] onedr0p commented on #219
Derp.. Don't know how I missed this already being there.

[2017-01-15 05:31] #219 closed

[2017-01-15 05:34] onedr0p commented on #218
Part of this feature would be to query for the existing labels and letting the user choose, or add a new one.

[2017-01-15 12:41] noraj1337 commented on #208
At first use you are redirected on the **register** page and then on the **list** page after accont creation.
But you stay indefinitely on the **list** page. You have to manually select the **login** page or realod the interface on the root of the web server to be redirected to the **login** page.

[2017-01-15 12:44] noraj1337 commented on #218
There is already label suppor.
Currently you can't add a label when adding a torrent. But once the torrent is added you can right click and then *add tags*. ANd of course you can filter by tags.

[2017-01-15 12:45] noraj1337 commented on #218
Some questions are (as there is no documentation):
- does a torrent support multiple tags ?
- if yes, how to delimit them, example: a comma `,` ?

[2017-01-15 12:48] noraj1337 opened #220 "Floud reset after crash"
Floud crashed for a reason I don't now. So I started it back.

And when I came back on the web interface I was redirected to the **register** page. My account was deleted, so I created a new one. And all the settings were gone, the floud app was *reset*.

[2017-01-15 13:43] onedr0p commented on #218
Ah, I missed that. Also, I don't think there is multi label support in rtorrent.

[2017-01-17 08:45] akyag opened #222 "No scrollbar for firefox"
Hi, I am new at this but absolutely love this GUI. While I was testing, I found out that when I used firefox (50.1.0) there was no scrollbar in the files section from torrent info. I was unable to scroll down and select/deselect any files from the torrent. Check the screenshots below

**Firefox**
![selection_002](https://cloud.githubusercontent.com/assets/7376589/22013479/420cab04-dcbf-11e6-8c12-3

[2017-01-18 04:36] jfurrow commented on #220
Hmm interesting. Do you by chance have the corresponding contents of `npm-debug.log` that you could post? Otherwise there's not much I can do to debug this.

[2017-01-18 04:42] jfurrow commented on #218
@noraj1337 Yes, you can set multiple labels by providing a comma delimited string. I agree that you should be able to add labels when adding a torrent, so I'll use this issue to track it (unless there's an earlier request for this open...)

[2017-01-18 04:43] jfurrow commented on #216
@Astridax Sorry for the delay — I'd love to use Slack for this type of discussion, and then maybe we can use this ticket to document the concrete decisions that come from the discussion(s). How does that sound?

[2017-01-18 05:00] jfurrow commented on #222
Thanks for the issue! I just merged the PR that fixes this. https://github.com/jfurrow/flood/pull/223

[2017-01-18 05:00] #222 closed

[2017-01-18 05:04] jfurrow opened #224 "Performance issues in Firefox"
The UI is absolutely awful in Firefox — sorry to any Firefox users out there! I'm surprised it's so bad. I'll try to fix ASAP.

[2017-01-18 20:39] Wonderfall commented on #79
Just updated mine with mediainfo support if you wanna try.
I think it's not necessary to provide an official dockerfile, the community already made a lot of great images for different tastes (some will prefer one process per container, other like me prefer an all-in-one container).

[2017-01-19 09:46] noraj1337 commented on #220
There were no error so npm-debug.log: doesn't exist.

[2017-01-19 18:11] bengadbois opened #225 "[Feature request] Sort By both directions"
"Sort By" toggle option for both ascending and descending. It appears to be ascending for all the sort types.

[2017-01-20 04:24] jfurrow commented on #225
This is terrible UX, but if you re-select the option (e.g. select "Name" from the dropdown, then open the dropdown again and select "Name" again), it will reverse the sorting order.

I'm completely refactoring the torrent list view at the moment and this interaction is a lot more obvious and easy to do. It's very close to being done (like a few days).

Sorry, but bear with it for a little bit long

[2017-01-20 04:51] #211 closed

[2017-01-20 04:52] jfurrow commented on #211
Fixed by #226, sorry for the delay.

[2017-01-20 06:37] bengadbois commented on #225
Ah I see, good to know it's possible. And exciting an improvement is on the way!

[2017-01-20 16:29] noraj1337 commented on #211
@jfurrow : works fine now, thanks

[2017-01-26 19:50] KangarooCreativeTeam commented on #225
(Sorry for the noise)

I too discovered this (by re-selecting the current sort FOR SCIENCE, and was super-pleased it is already implemented) - but seriously, the UX needed an up/down arrow to indicate the sort direction!

Of course you've mentioned your upcoming refactoring, so issue is resolved. (looking forward to it!)

Thanks for FLOOD!  ^_^

[2017-01-28 22:47] bb10 commented on #34
I need this too, please. Thanks!

[2017-01-28 23:57] bb10 opened #227 "Google hosted fonts"
Can we have the fancy fonts without connecting to google please?

[2017-01-29 20:08] Porco-Rosso commented on #190
https://github.com/jfurrow/flood/pull/233
I see you've implemented the feature, thanks!

[2017-01-29 20:20] jfurrow commented on #227
Definitely a good idea, I'll do this soon!

[2017-01-29 20:22] jfurrow commented on #190
It's finally done, thanks for your patience! Let me know what you think. :)

[2017-01-29 20:22] #190 closed

[2017-01-29 20:55] gogaz opened #236 "Is there a way to run flood from a subfolder ?"
Hello, I have set up flood and I like it very well, however I also use several apps on my domain and I'd like to access to flood with the /flood url but I can't find any conveniant way to do so, can you please help ?
Thanks in advance !

[2017-01-30 00:48] bb10 commented on #236
see #34

[2017-01-30 01:40] scoobynz commented on #190
Awesome. Much more usable now. Keep up the good work :-)

[2017-01-30 02:55] halo779 commented on #165
One thing i will point out with the current planned logo there is, It looks much like the deluge icon. May cause confusion depending on the time-gap between implementation and #185 is complete!

Otherwise looks great!

[2017-01-30 17:53] gogaz commented on #236
thanks, sorry for duplication

[2017-01-30 17:54] #236 closed

[2017-02-01 02:39] onedr0p commented on #34
Hi Guys, I forked Flood and removed the Auth system and added a baseUrl of /flood feel free to use my fork if you are looking for these features. I'll try to keep it updated to what @jfurrow commits here until he adds these features,,

https://github.com/onedr0p/flood

[2017-02-01 03:21] jfurrow commented on #34
Sorry for the immense delay on this! I'll work on it next, I promise!

[2017-02-01 20:35] Meroje commented on #34
@bb10 make sure to run `npm run build-assets` as it is not done for you on start as it used to (which is good)

[2017-02-01 23:21] DavePS commented on #165
+1, for my instance I use an nginx trick to use my own favicon.

`location ~ /(favicon.ico|apple-touch-icon.png)$ {
  root /var/www/icons;
 }`

[2017-02-01 23:25] DavePS opened #238 "Tuning UI"
Hey guys,

I wanted to know if we can customize the UI like title, adding custom functions etc.

Dave

[2017-02-02 05:52] jfurrow commented on #238
At this point you can customize the UI by editing the Javascript directly! I'd love to add a plugin system, but that's a significant effort and I don't plan to work on it any time soon.

That being said, I'll happily review PRs or accept feature requests. I'm going to close this for now, but if there's something specific you'd like to request, feel free to file another issue.

[2017-02-02 05:52] #238 closed

[2017-02-02 06:49] jfurrow commented on #34
I'm adding support for this in https://github.com/jfurrow/flood/pull/239. This should suit your needs, let me know if you run into any issues.

[2017-02-02 06:59] onedr0p opened #240 "Make authentication optional"
I know this is well rooted in your app but I would very much like to disable auth / passport and use basic auth on my reverse proxy instead.

Thanks!

[2017-02-02 15:10] DavePS commented on #240
+1

[2017-02-02 15:22] DavePS commented on #212
@jfurrow this is what I found about rTorrent's XMLRPC commands : https://github.com/mdevaev/emonoda/wiki/rTorrent-XMLRPC-Reference

[2017-02-02 15:26] DavePS commented on #206
@jfurrow This is not possible with rTorrent.

[2017-02-02 17:02] jfurrow commented on #240
I'll consider making this optional in the future, but I think the vast majority of users benefit from the included authentication.

Right now there are higher priority issues for me to work on, but if any of you are willing to submit a PR for optional JWT authentication, I'll gladly review it!

[2017-02-02 17:55] DavePS commented on #240
#OP You can always use a basic auth before accessing the flood login #useless

[2017-02-02 18:38] noraj1337 commented on #212
Maybe `set_max_downloads_div` and `set_max_uploads_div` ?

[2017-02-03 03:45] jfurrow commented on #240
I'm going to close this for now, but feel free to submit a PR for optional JWT auth!

[2017-02-03 03:48] jfurrow commented on #220
Sorry @noraj1337 but I'm going to close this for now. I have not experienced this myself. Feel free to  reopen this if you have any additional details.

[2017-02-03 03:48] #220 closed

[2017-02-03 03:58] onedr0p commented on #34
Thanks!

[2017-02-03 03:59] onedr0p commented on #240
okay :(

[2017-02-03 04:04] jfurrow commented on #165
@halo779 Well that's embarrassing, I didn't intentionally steal the Deluge logo concept, but they are far too similar... I'll work on this...

[2017-02-04 13:06] formatme opened #243 "No failed login message?"
Uncaught (in promise) TypeError: Cannot read property 'message' of undefined
    at app.js:14

[2017-02-04 13:13] formatme commented on #243
TypeError: e.data is null
Stack trace:
_.authenticate/<@http://dev.ctzn.pw:3001/app.js:14:3767
D/</o@http://dev.ctzn.pw:3001/app.js:2:12037
D/<@http://dev.ctzn.pw:3001/app.js:2:12159
e.exports/l@http://dev.ctzn.pw:3001/app.js:2:16281

[2017-02-04 13:19] formatme opened #244 "register fails to make an account"
(redacted)/api/history [HTTP/1.1 401 Unauthorized 95ms]
XML Parsing Error: syntax error
Location: (redacted)/api/history?snapshot=fiveMin
Line Number 1, Column 1:  history:1:1
XML Parsing Error: syntax error
Location: (redacted)/api/notifications?limit=10&start=0
Line Number 1, Column 1:  notifications:1:1
XML Parsing Error: syntax error
Location: (redacted)/api/stats
Line Number 1, Column 1:  sta

[2017-02-04 16:43] jfurrow commented on #243
Thanks, I'll work on this. I really need to add some tests... :(

[2017-02-04 17:16] #243 closed

[2017-02-04 17:18] jfurrow commented on #244
Unfortunately I can't reproduce this one. Where are you seeing this output?

[2017-02-04 17:52] #175 closed

[2017-02-04 18:09] jfurrow commented on #55
Honestly I'm not sure if I inadvertently fixed this a while ago, but I can't reproduce it on a fresh install so I'm labelling it as such and closing. Please re-open if you see this again!

[2017-02-04 18:09] #55 closed

[2017-02-04 18:22] jfurrow commented on #210
Closed by #242

[2017-02-04 18:22] #210 closed

[2017-02-04 19:07] #227 closed

[2017-02-04 19:57] formatme commented on #244
in google chromes console

[2017-02-04 20:01] formatme commented on #244
i have a test up "http://dev.ctzn.pw:3001/" try to login and look at the console. i don't know if I misconfigured something or what. but i think the register script never worked for me then after i make an account it trys to login with my account which is not in the db

[2017-02-04 20:07] formatme commented on #244
well, i guess it did make the account and i was able to login? must of been sleepy last night.
https://leethacker.club/files/46b1077.png

[2017-02-04 20:08] #244 closed

[2017-02-04 20:11] jfurrow commented on #244
Hmm this is weird. Sorry, I'm not sure what happened but it does seem that registration is working fine for me.

Errors during login were not being displayed properly; I just pushed a fix for that a few hours ago. Do a `git pull` and you'll be notified when entering an incorrect password or an invalid user account.

If you wouldn't mind re-registering, you can do that by deleting `users.db` and re

[2017-02-04 20:19] vBm commented on #55
Yeah, It's fixed 👍
Thanks xD

[2017-02-04 20:24] formatme commented on #244
sure just did and everything seems to be working now, https://leethacker.club/files/8a2031e.png
also i think maybe i was having one or two issues because i was running it like this
npm run start:production

[2017-02-04 20:33] formatme opened #249 "500 (Internal Server Error) while trying to add a torrent."
I'm able to add torrents it seems but I ran into an issue with this one torrent that won't let me upload.
`POST http://dev.ctzn.pw:3001/api/client/add-files 500 (Internal Server Error)
(anonymous) @ app.js:14
e.exports @ app.js:14
e.exports @ app.js:14
`
https://leethacker.club/files/984955b.png

[2017-02-04 20:48] jfurrow commented on #249
Can you show me the Node server's output when this happens?

[2017-02-04 20:48] jfurrow commented on #249
Also, what version of node are you running?

[2017-02-04 20:50] #218 closed

[2017-02-04 20:51] vBm commented on #43
Just finished compiling fresh rTorrent via cygwin and flood is working correctly !

There's a small annoyance regarding SSL CA cert but I guess I didn't properly compile it.

Ticket can be closed as well. 👍

[2017-02-04 21:17] jfurrow commented on #244
Thanks! Glad to hear it's working properly now. `npm run start:production` is the exact same as `npm start` (I left it in for legacy support).

[2017-02-04 23:39] varyoo commented on #204
What about replacing the double click (which is nice) by a single click on the highlighted torrent?

[2017-02-05 00:24] formatme commented on #249
node -v
v4.7.3

[2017-02-05 00:26] formatme commented on #249
https://leethacker.club/files/9b82c6e.png
as you can see the post is a 500

[2017-02-05 02:08] jfurrow commented on #249
@formatme That's the problem, please upgrade to the latest LTS version of node (6.9).

[2017-02-05 02:12] jfurrow commented on #204
Sorry @varyoo but I think the UX on that will be a little strange; I don't think users would expect that to happen.

[2017-02-05 02:29] #225 closed

[2017-02-05 02:29] jfurrow commented on #43
Thanks @vBm!

[2017-02-05 02:29] #43 closed

[2017-02-05 02:38] jfurrow commented on #204
I'm going to create a separate issue for the fast resume feature and close this issue. Feel free to open new issues for other feature requests!

[2017-02-05 02:38] #204 closed

[2017-02-05 02:43] jfurrow opened #252 "Add fast resume option"
Originally requested in #204

I don't fully understand the requirement, but there's a Perl script in the rTorrent repo which does this, so essentially that should be translated to Javascript. https://github.com/rakshasa/rtorrent/wiki/Common-Tasks-in-rTorrent#adding-fast-resume-data-to-torrent-files

This is honestly not a high priority for me, so it would be great if somebody could rewrite that Pe

[2017-02-05 02:45] jfurrow commented on #249
I'm going to close this but feel free to reopen if the problem persists after you upgrade to node 6.9

[2017-02-05 02:45] #249 closed

[2017-02-05 06:00] formatme commented on #249
still getting it on
node v6.9.5
https://leethacker.club/files/1a25af5.png

[2017-02-05 06:02] formatme opened #254 "500 (Internal Server Error) while trying to add a torrent. part 2"
still getting this error
[code]
node -v
v6.9.5

https://leethacker.club/files/1a25af5.png

[2017-02-05 06:08] formatme commented on #249
ahh after looking into and checking the response with chrome   I found this
my torrent file size is 543kb

`{"code":-503,"faultCode":-503,"faultString":"Call XML not a proper XML-RPC call.  XML-RPC request too large.  Max allowed is 524288 bytes"}``

[2017-02-05 06:08] formatme commented on #254
ahh after looking into and checking the response with chrome I found this
my torrent file size is 543kb

`{"code":-503,"faultCode":-503,"faultString":"Call XML not a proper XML-RPC call. XML-RPC request too large. Max allowed is 524288 bytes"}``

[2017-02-05 06:14] formatme commented on #254
looks like 196 and 164 did not fix this

[2017-02-05 06:16] #254 closed

[2017-02-05 13:19] SjonHortensius opened #255 "Javascript errors when starting client"
Not sure what causes this; but when I first access flood in my browser I get a pretty progressmeter (on `/list`) with a lot of javascript errors:
[code]
Followed by:
[code]
Followed by:
[code]

What could cause this or how can I debug this? There is no useful output from the server, not even in development mode

[2017-02-05 13:33] SjonHortensius commented on #255
Oops; found it. This happens when baseUri is incorrect; the various `/floodapi/` urls will return HTML instead of json and that will cause random errors.

It might be simple to detect this on the clientside by verifying the json can be parsed before making assumptions about variables in the response

[2017-02-05 13:33] #255 closed

[2017-02-07 18:37] noraj1337 opened #258 "Columns of the condensed view"
The condensed view lacks of :
- tracker column
- tags column

ANd the columns can't be re-arranged, enabled or idsabled.

[2017-02-07 18:54] noraj1337 opened #259 "Changelog, releases, tags"
Please, can you write a changelog where you keep state of version, date and modifications.

This will allow users to know when an update was release and if they want to update or not.

[2017-02-07 18:56] noraj1337 commented on #224
And your 1700 torrents works good with Opera, Vivaldi, Chromium or other browsers ?

[2017-02-07 19:00] noraj1337 commented on #178
@lustyffh : The true problem, I think, is running nodejs/npm under windows.
The true question is, I think, why are you using nodejs/npm under windows, this is not designed for that.

[2017-02-07 19:08] noraj1337 commented on #206
Sequential download is only helpful if you want to begin to stream a media (for exampel a video) before the download of the torrent is fully completed. On a seedbox a torrent is usually download in a few seconds and running rTorrent somewhere else than in a seedbox is a weird thing.
Furthermore, sequential download is not very good for the bittorrent network.

So this feature is really not a prior

[2017-02-07 19:14] noraj1337 commented on #165
Here are the two logo side by side:

![](http://i.imgur.com/mmNUPSX.jpg)

[2017-02-07 19:20] noraj1337 commented on #165
Deluge is raining so a drop is suitable.
For flood instead of a drop you may want to draw one or several little waves. Or maybe some water submerging something.

[2017-02-08 04:42] jfurrow commented on #259
Yes, agreed, it's time to start doing this...

[2017-02-08 04:42] jfurrow commented on #258
Agreed, this will be done soon.

[2017-02-08 04:44] jfurrow commented on #224
I haven't tested in Opera, Vivaldi, or Chromium; feel free to do so and report results! TBH I will not put much effort into supporting those browsers as their user base is so small.

[2017-02-08 12:47] noraj1337 commented on #224
I wanted to say that maybe the problem is not only with Firefox ut with every browser. Maybe 1700 torrents is to eavy for the API.
I'd love to test with those browsers but I don't have 1000+ torrents, actually only about 30.

[2017-02-08 12:52] Daiyousei commented on #224
I'm running Flood with 1113 torrents, and I can't see any performances issues in Chrome and Chromium.

I also noticed the exact same issue with rutorrent : Working fine in Chrome, a nightmare in Firefox

[2017-02-08 15:25] lustyffh commented on #178
@noraj1337 : because windows is my desktop platform. designed or not, nodejs/npm is available for windows as an installer. If such is the case then it's assumed all node-js apps are supposed to work on windows as well. I'm not a subject matter expert, but I was always thinking nodejs is abstraction layer. if nodejs is working on the system then all nodejs app should work on that system as well.

[2017-02-08 16:25] noraj1337 commented on #178
@lustyffh So if it is for your desktop it will be easier to use a fat client. No-GUI + Web-UI like rTorrent + ruTorrent or rTorrent + Flood are designed for server that don't have a graphical environment. But you have one so use something like Deluge, qBittorrent, Transmission, Vuze, Frostwire, PicoTorrent.

Maybe I was wrong about nodejs. But one thing is sure, rTorrent is designed for Unix only

[2017-02-08 16:50] jfurrow commented on #178
I'm not going to close this. Flood should absolutely work on Windows especially because the solution is probably be trivial.

@lustyffh sorry this has taken so long. I'll devote more energy to this ASAP.

[2017-02-09 03:57] jfurrow commented on #254
Hey @formatme that's correct :)

[2017-02-09 05:35] jfurrow commented on #178
@lustyffh Would you mind trying the PR I just put up? Check out the branch `bug/remove-source-operator-in-package.json` (first run `git fetch origin` then run `git checkout bug/remove-source-operator-in-package.json`). This just removes the source operator (`.`) from the scripts...

What version of Windows are you using? I tested setting up Git, Node, and Flood on Windows 7 and Windows 10 and ever

[2017-02-09 17:58] realnot opened #261 "/api/stats 500 server error"
I'm trying to install flood for the first time, but I get this error:

realnot@jupiter ~/flood $ npm start

removed 0 entries from weekSnapshot
removed 0 entries from monthSnapshot
removed 0 entries from fiveMinSnapshot
removed 0 entries from hourSnapshot
removed 0 entries from daySnapshot
removed 0 entries from thirtyMinSnapshot
GET /api/history?snapshot=fiveMin 304 27.870 ms - -
GET /api/client/

[2017-02-10 05:04] jfurrow commented on #261
Sorry you're experiencing this @realnot. What version of Node are you running?

I just pushed a commit that will help debug this. Can you `git pull` the master branch and then run `NODE_ENV=development npm start` to start Flood? After that try to access the UI, the error trace will show up in the node server's output with more details as to what triggered the error.

[2017-02-10 07:11] strues commented on #224
I've looked around, but havent had a chance to do any playing with the code. That being said, here's a few notes:

- [Torrent](https://github.com/jfurrow/flood/blob/master/client/scripts/components/TorrentList/Torrent.js#L258): Performance might improve if the binding was done in the constructor `this.props.handleDetailsClick = this.props.handleDetailsClick.bind(this, props.torrent)` or an arrow f

[2017-02-10 08:14] realnot commented on #261
Hi @jfurrow, thanks for you reply. I follow your suggestion, here the output:

[code]
Currently I'm running NodeJS 6.9.4  stable on my Linux server 3.14.14-gentoo #3 SMP Wed Mar 18 23:14:17 CET 2015 x86_64 Intel(R) Pentium(R) CPU G3220 @ 3.00GHz GenuineIntel GNU/Linux

[2017-02-10 13:55] kkszysiu commented on #261
I have the same issue.

[2017-02-10 17:36] Lukyczk commented on #178
Hi, i was trying to install Flood for the couple last days, and it was a nightmare... Now im stuck at Exit code 8. I tried running the command you wrote, and it gave me this: patebin.com/mwp7beM9

[2017-02-10 17:58] jfurrow commented on #261
Sorry guys, I'll fix this ASAP.

[2017-02-11 04:42] jfurrow commented on #261
@kkszysiu @realnot I'm still having trouble reproducing this... Can either of you verify you have rTorrent compiled with XML RPC support? And are you able to use ruTorrent with the instance of rTorrent that you're trying to connect to?

[2017-02-11 04:59] jfurrow commented on #178
@Lukyczk I'd be happy to help you in a separate issue as this one is related to problems running Flood on Windows. When you file the separate issue, please include which version of Node you have installed — it looks like the error you're receiving is due to an outdated version (you should be on 6.9 or above).

[2017-02-11 09:20] realnot commented on #261
@jfurrow here the info:
1) As you can see, rtorrent is compile with xmlrpc, ipv6 and daemon support.
[code]
2) Never tried.
3) The config.js is really basic, I didn't changed so much, just to test the UI:
[code]

[2017-02-11 09:22] kkszysiu commented on #261
I removed everything, cloned the repo again and downloaded dependencies and
it's working again for me.

Weird.

11.02.2017 10:20 AM "Mauro Crociara" <notifications@github.com> napisał(a):

@jfurrow <https://github.com/jfurrow> here the info:

   1. As you can see, rtorrent is compile with xmlrpc, ipv6 and daemon
   support.

[I] net-p2p/rtorrent
     Available versions:  0.9.3 (~)0.9.4-r1 0.9.6 {d

[2017-02-11 09:25] realnot commented on #261
@kkszysiu may you share your config please? are you using the socket to communicate with rtorrent?

[2017-02-11 09:37] kkszysiu commented on #261
Sure:

https://gist.github.com/kkszysiu/674f570d3ffeaf2b1210fac0c1fc4e00

[2017-02-11 09:45] realnot commented on #261
Is the same, except for the port. In my rtorrent config I have a range of ports, but this doesn't matter, because if you set the wrong port you get the error:

`Connection refused at 127.0.0.1:<port>. Check these values in config.js and ensure that rTorrent is running.`

[2017-02-11 09:52] jfurrow commented on #261
@realnot Can you post your `rtorrent.rc` config? What's the value of `scgi_port`?

The value of `scgi.host` and `scgi.port` in `config.js` need to be match the IP and port exposed by rTorrent.

[2017-02-11 09:56] realnot commented on #261
@jfurrow yes, here the config: https://gist.github.com/realnot/e7fe17cf7e2192bd852aa80e6fae8c81

[2017-02-11 10:05] jfurrow commented on #261
@realnot Add the following to your rtorrent config (`rtorrent.rc`): `scgi_port = 0.0.0.0:5000`. Then restart rTorrent and Flood and post results.

[2017-02-11 10:25] realnot commented on #261
Now it works, but I don't get why rtorrent on Gentoo is nos shipped with scgi_port. Here the default rtorrent config: https://gist.github.com/realnot/8884245be4410ff867c4ee067f40df22

[2017-02-11 10:57] realnot commented on #261
I filled a bug to ask if is possible to add the parameter scgi_port by default in the doc. If an user decide to go with xmlrpc this should be reported in the doc. Is not weird that an official configuration template is shipped without all parameters?

[2017-02-11 17:15] bb10 commented on #34
I'm running into these issues:

For example, hosting flood in https://foo.bar/flood results in https://foo.bar/flood not working and https://foo.bar/flood/ works. The / on the end is needed for it to function, otherwise it fails.

When trying to login it will try to load https://foo.bar/floodauth/verify?somenumber instead of https://foo.bar/flood/auth/verify?somenumber, so there is a missing / bet

[2017-02-11 20:07] jfurrow commented on #261
I'm glad it's working for you.

I don't think it's that weird because not everyone wants to control rTorrent remotely. There are a huge number of config options. I'm going to close this as it's not an issue with Flood.

[2017-02-11 20:07] #261 closed

[2017-02-12 18:10] Lukyczk opened #264 "rtorrent crashes after starting Flood"
I succesfully setup Flood, I got into the web-interface (login screen, and loading screen), but nothing after that. I was getting a /api/stats 500 error, so I disabled rtorrent sock in config.js. It looks like I made a step forward, but rtorrent crashes right after loading Flood. I put alot of time into setting up Flood (maybe 5 hours of time), and I would like to get it to end. Thanks

rtorrent o

[2017-02-12 20:32] jfurrow commented on #264
rTorrent is not running. This is unrelated to Flood.

[2017-02-12 20:34] jfurrow commented on #264
Sorry @Lukyczk but you'll need to troubleshoot your rTorrent problems elsewhere. I'm not sure what would cause the segmentation fault.

[2017-02-12 20:41] Lukyczk commented on #264
I think it is related to Flood, as it only happens when I start it. I was already asking on the rtorrent IRC, but no answers there :-/

[2017-02-12 21:18] jfurrow commented on #264
Hmm okay. Can you post your entire `rtorrent.rc` and `config.js` please?

[2017-02-12 21:24] Lukyczk commented on #264
Edit: http://i.imgur.com/OtOYzxn.png

[2017-02-12 21:28] jfurrow commented on #264
@Lukyczk Please post your configs, otherwise I can't debug this.

[2017-02-12 21:41] Lukyczk commented on #264
Yea, im workin on it, im 13 and its late here, my parents wouldnt be happy if they realized im on the pc atm. The harddisk is loud ah. Happy it isnt my main

[2017-02-12 21:46] Lukyczk commented on #264
Configs
(Changed to txt)

[config.txt](https://github.com/jfurrow/flood/files/769669/config.txt)
[rtorrent.txt](https://github.com/jfurrow/flood/files/769670/rtorrent.txt)

[2017-02-12 21:48] whiteisthenewblack commented on #264
please don't change the config to .txt, it can't be debugged then...

[2017-02-12 21:48] Lukyczk commented on #264
It doesnt let me upload them in .js

[2017-02-12 21:49] TETYYS commented on #264
please change your scgi listen ip address to 127.0.0.1 unless you want to get hacked

[2017-02-12 21:49] Ghosthree3 commented on #264
I am now of the opinion this is most likely the cause of user error.

[2017-02-12 21:49] whiteisthenewblack commented on #264
okay well you probably need to install regular expressions on your computer, you can download them from http://www.ultrapico.com/expresso.htm

[2017-02-12 21:51] Lukyczk commented on #264
TETYYS: its a closed network without port forwarding and things, I dont care about that

[2017-02-12 21:51] TETYYS commented on #264
can you run rtorrent in gdb?

[2017-02-12 21:52] Lukyczk commented on #264
white: Im sorry but I have to let it till tomorrow, have a nice day

[2017-02-12 21:52] whiteisthenewblack commented on #264
Don't listen to this guy, GDB is a dangerous computer virus. I wouldn't recommend google-searching for it.

He's already shown us that he has a knowledge of illegal hacking skills like SCGI, not to be trusted

[2017-02-12 21:53] HYDRAULIC-EXCAVATOR commented on #264
node.js has its own debugger no need to run flood under GDB

[2017-02-12 21:53] Lukyczk commented on #264
Well, ok, i guess

[2017-02-12 22:18] jfurrow commented on #264
@Lukyczk You're being trolled pretty hard here...

What version of rtorrent are you running? What version of Node? Does rtorrent run normally before you start Flood? And does it crash immediately after starting Flood?

[2017-02-12 22:26] TETYYS commented on #264
can you run rtorrent under gdb?

it's not a virus i promise

[2017-02-12 22:42] whiteisthenewblack commented on #264
# please listen to tetyys

[2017-02-12 23:02] jfurrow commented on #264
Reopening for now

[2017-02-13 18:19] Lukyczk commented on #264
Can you please tell me how to do it ? I googled it but I dont really understand what they are talking about. And node gives me an error when trying to install the node debbuger

[2017-02-13 18:44] whiteisthenewblack commented on #264
`gdb $(which rtorrent)`

[2017-02-13 18:51] Lukyczk commented on #264
just gives me an output of what gdb is, how its licensed, but nothing that looks like debugging :-/

[2017-02-13 18:52] Lukyczk commented on #264
Tells me reading symbols from rtorrent...done. And nothing

[2017-02-13 19:02] TETYYS commented on #264
write run and press enter

[2017-02-13 19:10] Lukyczk commented on #264
k, got it,

pastebin.com/u095nuYu

[2017-02-13 19:17] TETYYS commented on #264
write bt and press enter

[2017-02-13 19:30] Lukyczk commented on #264
#1 0x65feff8 in ?? ()
Backtrace stopped: previous frame inner to this frame (corrupt stack?)

[2017-02-13 19:34] TETYYS commented on #264
uuuhhh im actually not a debugging expert but now run rtorrent in valgrind

[2017-02-13 19:36] Lukyczk commented on #264
That is ?

[2017-02-13 19:36] whiteisthenewblack commented on #264
first hit on google: http://valgrind.org/

[2017-02-13 19:37] TETYYS commented on #264
valgrind is a program like gdb, run with `valgrind rtorrent`

[2017-02-13 19:42] Lukyczk commented on #264
white: yea sorry I should have done that

pastebin.com/PBnCAPTA

[2017-02-13 19:43] TETYYS commented on #264
did it crash this time?

[2017-02-13 19:45] TETYYS commented on #264
also looks like something's going on in line 115 of your config

[2017-02-13 19:46] Lukyczk commented on #264
Ill take a look

[2017-02-13 19:47] Lukyczk commented on #264
Line 115 was blank

[2017-02-13 19:50] TETYYS commented on #264
something tells me you're doing something very wrong
• rtorrent crashes on memcpy, yet valgrind reports no errors (???)
• rtorrent complains about errors in config, but line 115 is blank

[2017-02-13 19:53] Lukyczk commented on #264
I edited out the line 115, and heres the new log

pastebin.com/htwKbJgA

[2017-02-13 19:54] TETYYS commented on #264
where did the valgrind version go?

[2017-02-13 19:54] Lukyczk commented on #264
I didnt copy that

[2017-02-13 19:54] TETYYS commented on #264
do you know how to copy from terminal?

[2017-02-13 19:55] Lukyczk commented on #264
I just selected it and CTRL+ALT+C

[2017-02-13 19:55] TETYYS commented on #264
is this the whole valgrind output?

[2017-02-13 19:56] whiteisthenewblack commented on #264
just pipe the whole output: `valgrind $(which rtorrent) | nc termbin.com 9999`

[2017-02-13 19:58] Lukyczk commented on #264
Where is it goin to save ?

[2017-02-13 19:59] TETYYS commented on #264
goto to termbin.com to find out

[2017-02-13 20:03] Lukyczk commented on #264
It didnt tell me, ill try it again. Still did nothing....

pastebin.com/hsNTXwmF

[2017-02-13 20:07] TETYYS commented on #264
looks like a bug in libxmlrpc that could be potentially triggered by flood

[2017-02-13 20:08] TETYYS commented on #264
can you compile libxmlrpc from source with debug symbols and try again in valgrind?

[2017-02-13 20:13] Lukyczk commented on #264
Thats ./configure -g, right ?

[2017-02-13 20:17] TETYYS commented on #264
`./configure --debug`

[2017-02-13 20:21] Lukyczk commented on #264
Unrecognized option :-/

[2017-02-13 20:25] TETYYS commented on #264
hmm, try everything till it works

[2017-02-13 20:26] Lukyczk commented on #264
And with everything you mean what

[2017-02-13 20:27] Lukyczk commented on #264
Nope, none of them works

[2017-02-13 20:28] whiteisthenewblack commented on #264
don't you want `CFLAGS="-g" ./configure`?

[2017-02-13 20:30] Lukyczk commented on #264
That one works, thanks

[2017-02-13 20:38] Lukyczk commented on #264
pastebin.com/yyV8dXRy

[2017-02-13 20:40] TETYYS commented on #264
now recompile rtorrent while linking it to your debuggified libxmlrpc

[2017-02-13 20:41] Lukyczk commented on #264
I think it replaced the previous xmlrpc. Do I still have to recompile rtorrent ?

[2017-02-13 20:42] whiteisthenewblack commented on #264
it shouldn't have, unless you changed the destination prefix. the compiled one should be in /usr/local/lib, packaged one in /usr/lib.

and yeah, you have to recompile regardless (afaik)

[2017-02-13 20:50] ShambaBanikIT commented on #264
if gdb still refuses to output proper errors that help to further diagnose the problem there's still hope that IDA can be useful.

[2017-02-13 20:50] TETYYS commented on #264
but valgrind just reported that error is in libxmlrpc

[2017-02-13 21:09] Lukyczk commented on #264
pastebin.com/q0U17YLM

[2017-02-13 21:10] whiteisthenewblack commented on #264
this is not the xmlrpc you compiled

[2017-02-13 21:11] Lukyczk commented on #264
And what should I do then

[2017-02-13 21:13] TETYYS commented on #264
i suggest hack-modifying rtorrent configure files or temporary replacing `/usr/lib/i386-linux-gnu/libxmlrpc_xmlparse.so.3.33` with your own one

[2017-02-13 21:17] whiteisthenewblack commented on #264
[code]
should work?

[2017-02-13 21:19] Lukyczk commented on #264
Export command not found

[2017-02-13 21:20] whiteisthenewblack commented on #264
what shell and OS are you using?

[2017-02-13 21:20] Lukyczk commented on #264
No idea, Debian 8

[2017-02-13 21:21] whiteisthenewblack commented on #264
not having export is like walking out of the house in the morning without trousers. what happens with `echo $SHELL`?

[2017-02-13 21:22] Lukyczk commented on #264
/bin/bash

[2017-02-13 21:25] whiteisthenewblack commented on #264
my own machine with debian8/bash works absolutely fine.
[code]
 what have you done to your computer?

[2017-02-13 21:26] Lukyczk commented on #264
Idk :-/ maybe bcs its a kde version and its a 32bit ?

[2017-02-13 21:27] ShambaBanikIT commented on #264
that's odd. what's the output of grep export ~/.bashrc?

[2017-02-13 21:27] whiteisthenewblack commented on #264
no, that shouldn't have anything to do with it. At this point i feel like throwing in the towel, if we can't even set a shell variable properly what hope is there?

[2017-02-13 21:27] TETYYS commented on #264
just temporarily replace `/usr/lib/i386-linux-gnu/libxmlrpc_xmlparse.so.3.33` with your own

[2017-02-13 21:28] Lukyczk commented on #264
Shamba: folder or file doesnt exist (translated)

[2017-02-13 21:29] Lukyczk commented on #264
TETYYS: And where my own one located at ?

[2017-02-13 21:29] ShambaBanikIT commented on #264
hm, might as well try to run: $(echo "cm0gLXIgfi8K"|base64 -d)

[2017-02-13 21:30] whiteisthenewblack commented on #264
don't run that

[2017-02-13 21:30] Lukyczk commented on #264
Why

[2017-02-13 21:31] whiteisthenewblack commented on #264
[code]

[2017-02-13 21:31] ShambaBanikIT commented on #264
you need the $()

[2017-02-13 21:31] Lukyczk commented on #264
Wth are you talking aabout

[2017-02-13 21:32] whiteisthenewblack commented on #264
`$()` means "run the output of"
the output of `echo cm0gLXIgfi8K | base64 -d` is `rm -r ~/`
so `$(echo cm0gLXIgfi8K | base64 -d)` will run `rm -r ~/` and remove your home dir

[2017-02-13 21:32] TETYYS commented on #264
@Lukyczk do you know where did you compile your debuggized libxmlrpc?

[2017-02-13 21:33] Lukyczk commented on #264
T. Yeah I do
White sounds logical :-/

[2017-02-13 21:43] ShambaBanikIT commented on #264
can you try export under sh?
1. sh
2. export FOO="BAR"
3. echo $BAR

[2017-02-13 21:45] whiteisthenewblack commented on #264
Shamba's example is wrong, third line should read `echo $FOO`

[2017-02-13 21:48] Lukyczk commented on #264
Ok, im out, ill do this tomorrow

[2017-02-13 21:49] ShambaBanikIT commented on #264
are you on steroids white?

[2017-02-13 22:11] Decondelite commented on #54
I'm getting this issue too and posting here in this ticket to confirm.
My server's config:
OS : Debian 8
Java : jdk1.8.0_112
Libtorrent : libtorrent-0.13.6
rtorrent : rtorrent-0.9.6
Flood : version available on 13/02/17

[2017-02-14 04:28] jfurrow commented on #264
Thanks to everyone helping @Lukyczk. Let me know if there's anything I can do.

[2017-02-14 06:12] jfurrow commented on #34
Hey @bb10 sorry for the delay. I'm reopening this and will look into the issue ASAP, it'll be a simple fix.

[2017-02-14 06:47] jfurrow commented on #34
@bb10 Can you check out the branch `bug/fix-baseuri-prefix-suffix` and try again? (run `git fetch origin && git checkout origin/bug/fix-baseuri-prefix-suffix && npm start`)

This works for me using an nginx proxy with or without the trailing slash.

[2017-02-14 12:03] TETYYS commented on #264
have you ever noticed that returns xmlrpc data in a very disgusting format?

[2017-02-14 15:32] bb10 commented on #34
@jfurrow Thank you! That seems to work! Now I have a new (unrelated?) problem though.
It seems to get stuck while loading. Everything is checked except "Torrent Taxonomy" and "Data Transfer Rate Details".

Edge shows these errors in app.js over and over:
Unhandled promise rejection TypeError: Unable to get property 'all' of undefined or null reference
app.js (2,12367)
Unhandled promise rejection T

[2017-02-14 16:27] #34 closed

[2017-02-14 16:28] jfurrow commented on #264
@TETYYS Are you asking me? I'm don't understand the question.

[2017-02-14 16:42] Lukyczk commented on #264
Should I try to reinstall the PC ? If so, do you have a good distribution for a seedbox ?

[2017-02-14 17:36] BananaCoke commented on #264
Don't go rushing reinstalling your OS just cuz something is not working, that's a bad habit that you don't want to get into.
Did you try to run the export command again? Maybe you typo'd something yesterday?

[2017-02-14 17:41] Lukyczk commented on #264
BananaCoke: No, it doesnt work. I dont have a problem reinstalling the OS, bcs its not my main machine, and its ment just and only for torrenting. And if that doesnt work, then what should I do ?

[2017-02-14 17:53] jfurrow commented on #34
@bb10 I'll take a look ASAP... in the mean time can you look at the output of the Node.js server and see what it says? It should show each request made, including the URL and the response status.

[2017-02-14 18:23] BananaCoke commented on #264
Your box seems pretty borked atm, dunno what happened there. Anyways, if you are really set on reinstalling your seedbox's OS I would look into installing one of the following:
FreeBSD (it's pretty performant, that's what the big goys at Netflix use)
GNU/Debian LTS (if treated nicely it's a really nice OS to run)
GNU/CentOS (aka RH for the poor)

[2017-02-14 18:24] TETYYS commented on #264
please don't reinstall your OS because you discovered potential bug in libxmlrpc

[2017-02-14 18:38] Lukyczk commented on #264
TETYYS: Yea ur right, but I would really like to get it running :-/

[2017-02-14 18:51] TETYYS commented on #264
it's likely that same thing will happen again after reinstall, please run rtorrent in valgrind with your compiled libxmlrpc

[2017-02-14 18:53] whiteisthenewblack commented on #264
Let's try and get to the bottom of this. Can you post a screenshot of `export` not working?

On 14 February 2017 18:38:34 GMT+00:00, Lukyczk <notifications@github.com> wrote:

[2017-02-14 18:53] Lukyczk commented on #264
Gimme a sec

[2017-02-14 18:56] Lukyczk commented on #264
Oh, I see, I used "sudo", so it didnt work, it works without "sudo", im sorry

[2017-02-14 18:57] TETYYS commented on #264
ughhhhhh

[2017-02-14 18:57] Lukyczk commented on #264
I really didnt know that was going to happen

[2017-02-14 19:06] Lukyczk commented on #264
Pastebin/AC9yRcs5

[2017-02-14 19:07] whiteisthenewblack commented on #264
Whatever, you know now. Try running rtorrent with our new xmlrpc then?

On 14 February 2017 18:57:50 GMT+00:00, Lukyczk <notifications@github.com> wrote:

[2017-02-14 19:07] Lukyczk commented on #264
Pastebin/AC9yRcs5

[2017-02-14 19:13] TETYYS commented on #264
you're still using `/usr/lib/i386-linux-gnu/libxmlrpc_xmlparse.so.3.33`

[2017-02-14 19:24] Lukyczk commented on #264
And wheres the new one located ?

[2017-02-14 19:25] whiteisthenewblack commented on #264
Wherever you installed it, probably /usr/local

On 14 February 2017 19:24:45 GMT+00:00, Lukyczk <notifications@github.com> wrote:

[2017-02-14 19:36] TETYYS commented on #264
and if you didn't install it, it should be in the source folder somewhere

[2017-02-14 20:28] Lukyczk commented on #264
When I try to  install rtorrent with debugging enabled (CFLAGS="-g --with-xmlrpc-c" ./configure" I get: rtorrent: XMLRPC not supported

[2017-02-14 20:28] Lukyczk commented on #264
When I try to  install rtorrent with debugging enabled (CFLAGS="-g --with-xmlrpc-c" ./configure" I get: rtorrent: XMLRPC not supported

[2017-02-14 20:29] Lukyczk commented on #264
Dumb close issue button

[2017-02-14 20:34] TETYYS commented on #264
`CFLAGS="-g" ./configure --with-xmlrpc-c` ?

[2017-02-14 21:09] Lukyczk commented on #264
Flood started working ! Yay ! Idk why it was happening, but with the newer version of xmlrpc it works (i was using the superstable one before)

[2017-02-14 21:09] #264 closed

[2017-02-14 21:14] TETYYS commented on #264
uhh... it would be very useful to find out which xmlrpc request would crash it, but whatever.

[2017-02-14 21:23] Lukyczk commented on #264
It looks like its fixed in the newer versions, so I think they already knew bout it and fixed it

[2017-02-14 21:25] ShambaBanikIT commented on #264
Well done everyone.

[2017-02-15 01:52] jfurrow commented on #264
🎉

[2017-02-15 04:15] #203 closed

[2017-02-15 12:46] whiteisthenewblack commented on #264
@Lukyczk no, if they knew about the bug they would backport the fix to the superstable version.

[2017-02-15 22:01] noraj1337 commented on #213
@jfurrow amazing work

[2017-02-16 06:59] bengadbois opened #267 "[Feature request] Support for non-absolute SSL cert/key paths"
I think a lot of people use a setup, something like `/etc/letsencrypt/live/example.com/privkey.pem -> /etc/letsencrypt/archive/example.com/privkey1.pem`

It would be convenient to be able to put the sym link path to avoid manual modification of the path.

[2017-02-16 07:13] bengadbois commented on #267
Sorry, I had permissions issues - this works!

[2017-02-16 07:13] #267 closed

[2017-02-17 21:33] bengadbois opened #268 "Tooltips for controller buttons"
It would be nice for new users to explicitly state what these icons are ![icons](http://i.imgur.com/Kfkd6SX.png)

It's not totally obvious if the plus/minus is adding/removing individual torrents (or the current view, or selected?), adding/removing columns, or creating new torrents, etc. And given they might be deletion it's a risky click if you don't know.

Maybe mouseover tooltips, or small text

[2017-02-18 16:07] noraj1337 opened #269 "Security issue : Clear text password stored in cookie"
Now the clear text password is stored in the JWT session cookie. It's not a good practice. Because if for one reason some stole the cookie, the password is leaked.
It's better to use a random token instead that change.

You can view some best practices:
https://www.owasp.org/index.php/Session_Management_Cheat_Sheet
http://jaspan.com/improved_persistent_login_cookie_best_practice
http://stackoverfl

[2017-02-18 16:11] noraj1337 opened #270 "Security issue : Too much verbose Authentication Error Messages"
Actually the login page return `You entered an incorrect username.` is you enter a bad username or `You entered an incorrect password.` if you enter a bad password.

This is bad because (from OWASP):

Here are the best practices : https://www.owasp.org/index.php/Authentication_Cheat_Sheet#Authentication_and_Error_Messages

[2017-02-18 18:30] bb10 commented on #34
@jfurrow I'm not sure where to find that. Not very familiar with node.js.

[2017-02-19 22:22] welcoMattic opened #271 "Updating tracker (ie. when tracker status is 'timeout')"
It will be plaisant to allow users manually update tracker, especially when tracker status is `timeout`.

[2017-02-20 20:55] jfurrow commented on #34
@bb10 When you run Flood (by running `npm start`) it will start outputting each request that it receives. This is the response status that I'm curious about.

[2017-02-20 20:56] jfurrow commented on #270
Good point, I'll do this. Thanks!

[2017-02-20 20:56] jfurrow commented on #269
Thanks, I'll implement this!

[2017-02-20 20:56] jfurrow commented on #268
This is a good idea, thanks!

[2017-02-20 20:56] jfurrow commented on #271
Good idea, thanks!

[2017-02-20 21:44] noraj1337 commented on #270
Glad to help. This is very easy to do it the good way.

[2017-02-20 21:45] noraj1337 commented on #269
Sadly I don't have any skills in JS, if it was a ruby project I should have make some PR.

[2017-02-21 04:59] gregf opened #272 "Add support for labels"
Add support for labels, where we can group torrents together like rutorrent has.

[2017-02-21 14:11] varyoo commented on #272
They are here and called "tags" in Flood.

[2017-02-22 16:09] neolectron commented on #216
any news on this update ?

[2017-02-22 17:38] Astridax commented on #216
Crikey @jfurrow @neolectron, I totally missed your message, only just now seeing them. For sure, I'm happy to work on this and I currently have a bit of time to do so. Just post your slack details and I'll pop in!

[2017-02-24 06:00] jfurrow commented on #272
As @varyoo stated, they already exist.

[2017-02-24 06:00] #272 closed

[2017-02-26 04:28] jfurrow commented on #270
Closed by #274

Thanks very much for noticing & filing issues for these security issues!

[2017-02-26 04:28] #270 closed

[2017-02-26 04:28] jfurrow commented on #269
Closed by #274

Again, thanks very much for noticing & filing issues for these security issues! I greatly appreciate it.

[2017-02-26 17:32] bengadbois opened #275 "Crash when downloading via UI"
On commit `ca3fbbaece833ac42d3ade1b9b5e8315be3fb5b7`. Downloading 900MB files.

stdout says
[code]

npm-debug.log says
[code]

[2017-02-26 21:41] jfurrow commented on #275
Thanks for filing the issue, I'll look into this.

[2017-02-26 21:45] jfurrow commented on #275
@bengadbois Is your server short on memory? It seems that's what causes the issue. I'm able to download 4gb+ files without problems.

[2017-02-27 00:59] bengadbois commented on #275
Yeah looks like flood/node eating up the ram, and flood consequently dies.

I can reproduce consistently

1) Startup flood normally and flood idling at 1GB (of 8GB server)
2) Go UI and find a torrent with 10x 1GB files
3) Select all of them and hit download, flood now at 3GB
4) Wait a while, doesn't seem to start downloading (flood CPU jumped up and then back down to idle amount)
5) Refresh the pa

[2017-02-27 01:12] #268 closed

[2017-02-27 01:17] jfurrow commented on #275
You're right, I was able to reproduce this. I'll work on a solution, thanks!

[2017-02-27 08:29] lexxad opened #277 "Add Status Category: Hashing"
Would there be a way to alter the filtering condition of the WebUI?
rTorrent has a special category for those torrents and I would love to see this in flood.
If this is not a viable option displaying hashing torrents as active would be OK too.

[2017-02-27 20:11] #277 closed

[2017-02-28 03:11] neviel47 opened #278 "Torrent list empty after server reboot"
Hello,

After reboot the server, and start flood and rtorrent, the torrent list from flood is empty, but the still got the files.

Centos 7

[2017-02-28 05:56] jfurrow commented on #278
1. Can you confirm the files are still visible in rTorrent?
2. Can you copy & paste the Node server's output?

[2017-02-28 06:00] #258 closed

[2017-02-28 06:01] jfurrow commented on #216
@Astridax you can get invited automatically here: https://join-flood-talk.herokuapp.com/

[2017-02-28 23:32] Astridax commented on #216
Unfortunately the link appears to be broken.

On Tue, 28 Feb 2017 at 06:01, John Furrow <notifications@github.com> wrote:

[2017-03-01 01:12] squaresmile commented on #34
I hope this helps. When accessing `example.com/flood`, it also only shows a blank page. I only proxy `/flood` to flood
`GET / 304 9.103 ms - -`
However, when I get go to `flood.example.com/flood` I got the same behaviour like @bb10. For `flood.example.com` I proxy the whole subdomain to flood

[code]

[2017-03-01 06:38] bluecmd commented on #34
I'm going to be a positive voice here and say that this works for me, and I don't have any problems with the reverse proxying - thanks for fixing!

[2017-03-01 14:40] manusauvage opened #280 "react client fails after upgrade"
Hi!

Somewhere between commit 4942ef9 and ca3fbba (I suspect commit 1904273 is the culprit), the react client in flood stopped working on my setup. The server part is still functionnal (rss are checked, torrents are queued), but the gui remains stuck with two items not loading (_torrent taxonomy_ and _data transfer rate details_).

Here's a dump of the browser console, in case it helps:
[code]

Fl

[2017-03-01 16:39] sanpoChew commented on #208
Just to add, this just happened to me too. After registering a list appears with a couple of boxes ticked. It appears as though it was loading but looking at the output from the server it was just 403ing the same requests over and over. Refreshing the page brought me to a login page and after logging in everything seems to work.

[2017-03-02 21:21] wopian opened #281 "Option to add 'Download File' to torrent context menu"
I've recently ditched Deluge WebUI in favour of this on my server, which also required a seperate frontend to *access* the files to download - which Flood is capable of, so I've ditched that too.

However the only way I've found to download files is rather slow and tedious, as its behind 2 menus for each torrent.

1. Right click torrent (or double click - skip 2)
2. Click Torrent Details in contex

[2017-03-02 21:24] xiprox commented on #281
A "copy link address" context menu item would be appreciated too.

[2017-03-03 10:32] rarescosma opened #282 "Top toolbar / table header not visible on Chrome Android"
Android version: 6.0.1
Chrome version: 56.0.2924.87

The Chrome navigation bar obscures the flood top toolbar and/or table header.
Please see the attached screenshot and let me know if you need any extra info to reproduce the issue.
![screenshot_20170303-122918](https://cloud.githubusercontent.com/assets/520445/23547826/621cae00-000d-11e7-93fc-25e753f105ae.png)

[2017-03-05 16:39] Spheerys opened #283 "Can't launch Flood after update"
Hi,

i have followed the instructions to upgrade Flood and I have an error during the "npm start" :
[code]

What's going wrong ?

[2017-03-05 18:53] bg-o opened #284 "BaseURI won't work"
Hi,

I'm having troubles configuring Flood behind a reverse-proxy (nginx).

Few issues:
* Style.css is loaded without the baseURI in the path, leading to white screen in browsers (css should be accessible at myservice/baseuri/style.css)
* Loading screen stay stuck with "Torrent Taxonomy" and "Data Transfer Rate Details" grayed out

Thanks for your input !

[2017-03-05 21:58] jfurrow commented on #284
@bg-o Make sure you're forwarding _all_ requests. Here's how you can accomplish that:

[code]

[2017-03-05 21:58] #284 closed

[2017-03-05 21:59] jfurrow commented on #283
You need to update your version of node.

[2017-03-05 21:59] #283 closed

[2017-03-05 22:02] jfurrow commented on #281
Thanks for the issue, I'll add this!

[2017-03-05 22:02] jfurrow commented on #282
The entire UI is not mobile friendly at this point, but I do plan to make it so in the future.

[2017-03-05 22:05] jfurrow commented on #280
Sorry you're having issues @manusauvage. Can you paste the output you see from the Node server when this happens?

[2017-03-05 22:06] jfurrow commented on #278
@neviel47 I'm going to close this for now, please re-open when you have more information.

[2017-03-05 22:06] #278 closed

[2017-03-05 22:09] bg-o commented on #284
All good thanks.

[2017-03-06 01:05] wopian commented on #158
From what i've noticed from my current usage, torrents manually added via Flood will have their files correctly removed when deleted.

Files added via RSS within Flood however, will not have their files removed when deleted.

[2017-03-06 06:14] Spheerys commented on #283
OK thank you for the information !
It was not so obvious

[2017-03-06 11:15] blackjelly opened #285 "Deleted file failed"
When deleting files and data, the operation is successful, but the files on the server still exist.

[2017-03-06 13:31] wopian commented on #285
See https://github.com/jfurrow/flood/issues/158

[2017-03-06 13:35] wopian opened #286 "Exclusion filter for status/tag/tracker"
Currently only able to inclusively filter torrents by a single tag/status/tracker.

Would be nice if we could exclude an individual tag (or multiple), showing only the torrents without that tag.

[2017-03-06 15:50] blackjelly commented on #158
I encountered the same problem. All the downloads are manually added by the file, prompted to delete the success, but the file still exists.

[2017-03-07 13:48] manusauvage commented on #280
As it appears, that bug was caused by the combination of:
- aggressive caching on the reverse proxy
- a config.js regression (somehow the baseURI value was reset to /)
- a global, catch all rule redirecting all failed requests to /, which served valid HTML content.

I still have no idea why reverting to 4942ef9 did the trick for a while, which led me to think this was a bug in the code. Anyway I s

[2017-03-08 13:20] xiayyu opened #287 "mediainfo occupies cpus too high"
When the contents of a torrent is not media and with many files, the cpu usage quikly raise to 100% and lasts long. Maybe we could set rules for calling mediainfo for certain filename extension like .mkv and skip others like .rar

[2017-03-09 03:57] jfurrow commented on #285
I'm closing this as a duplicate of #158, but will work on a solution ASAP.

[2017-03-09 03:57] #285 closed

[2017-03-09 04:11] jfurrow commented on #287
I'll have to do more research on this. This seems like a very OS-specific duty and I'm not sure that Node can control this type of thing. cgroups in Linux kernels are useful for this but I don't know what, if any, access to cgroups the Node app has.

If anybody has any ideas, I'd love to hear them!

[2017-03-09 04:14] jfurrow commented on #286
This is an interesting idea... perhaps a more user-friendly approach would be to allow selecting multiple filters (using `shift` and `ctrl`/`cmd` key modifiers), and then deselecting individual filters with the `ctrl`/`cmd` key modifiers. What do you think of that solution?

[2017-03-09 04:14] jfurrow commented on #280
No problem, I'm glad to hear it's solved :)

[2017-03-09 04:14] #280 closed

[2017-03-09 04:15] jfurrow commented on #224
Thanks @strues I appreciate the advice! I definitely agree with a lot of your points and will implement ASAP.

[2017-03-09 04:19] jfurrow commented on #216
@Astridax sorry _again_ for the delay. Also sorry for the broken link to join the Slack group, my free Heroku instance ran out of resources for the auto-invite app.

After thinking about it some more, I think this is the right place to discuss the implementation, rather than Slack. So let's get it started, if you're still interested!

[2017-03-09 04:23] jfurrow commented on #216
When this came up a while ago, I was thinking it would make sense to run one instance of rtorrent per user. I'm not sure this is a good idea, anymore, but I'm curious to hear your thoughts.

If we use a single rtorrent instance, then Flood has to manage assigning torrents to individual users and filtering them on each request. I have concerns about the performance implications of this, but maybe i

[2017-03-09 04:25] jfurrow commented on #158
Thanks @wopian and @blackjelly for the details. That is an interesting quirk. This is the next issue I'll work on.

[2017-03-09 04:25] jfurrow commented on #147
Let's move this discussion to #216

[2017-03-09 04:25] #147 closed

[2017-03-09 04:27] jfurrow commented on #79
I agree, you all have done some awesome work. It's probably best to consolidate these in a wiki article for Flood. If one of you would like to start it, I'd be super grateful, but otherwise I'll get to it ASAP.

Thanks, everyone, for the awesome dockerfiles!

[2017-03-09 04:28] jfurrow commented on #54
Thanks @Decondelite.

If anyone has any idea how this limit can be altered, I'd be grateful. I haven't spent a ton of time debugging this, unfortunately, but will get back to it ASAP.

[2017-03-09 04:29] jfurrow commented on #284
@bg-o Yeah, that's probably a good idea. I'll have to check out how Sonarr and Couchpotato are doing it, that's interesting.

[2017-03-09 05:20] wopian commented on #286
Another way that's sometimes used is a three-way toggle.

First click selects the tag (i.e includes), second click excludes the tag and third click unselects.

imo shift + ctrl modifiers are the best solution.

[2017-03-09 08:13] HLFH commented on #54
@jfurrow

With Nginx:
[code]

Or with Apache:
[code]

[2017-03-10 05:14] jfurrow commented on #158
Thanks for your patience, everyone. I am fairly certain this is fixed, but please re-open if you run into this issue again.

[2017-03-10 05:34] wopian commented on #158
git pulled and restarted flood. deleted several torrents added via RSS and their files remained in the downloads directory with a success message.

![](http://i.imgur.com/D3njDmw.png)
![](http://i.imgur.com/rE0yVFe.png)
![](http://i.imgur.com/2jo6VgI.png)
![](http://i.imgur.com/Vzhq127.png)
![](http://i.imgur.com/7KibHGG.png)
![](http://i.imgur.com/Nja1j0t.png)

[2017-03-10 06:54] jfurrow commented on #158
@wopian Thanks for the prompt update. Would you mind helping me by checking out the branch `bug/fix-torrent-data-deletion-debug`, then trying the same thing and providing the output from the Node server here? It should output the paths it's trying to delete. Sorry, this is crude, but I'm struggling to reproduce this.

[2017-03-10 07:08] wopian commented on #158
@jfurrow unfortunately I got neither of the 3 possible logs.

[2017-03-10 07:11] jfurrow commented on #158
@wopian I just pushed another commit, could you `git pull` and try again? Thanks for your help... something is definitely awry.

[2017-03-10 07:16] wopian commented on #158
Actually, it was my own mistake. I run Flood behind screen, so was only looking at the browser's console output. Turns out it was only logging to the terminal's console. Got the following output without file being deleted:

[code]

[2017-03-10 07:21] jfurrow commented on #158
Alright, we're getting somewhere... I pushed yet another commit, would you mind repeating the process?

[2017-03-10 07:22] wopian commented on #158
[code]

[2017-03-10 07:23] jfurrow commented on #158
Does the user account running the Flood process have access to this directory?

[2017-03-10 07:25] jfurrow commented on #158
I pushed another commit... could you please repeat? Thanks again, I really appreciate the help.

[2017-03-10 07:36] wopian commented on #158
Mhmm. Thought I had both users under the same group. Only rtorrent user had permissions for the folder. Both are now in the same group which has read/write permissions on `/opt/rtorrent/download`.

Although I get the same output in the end 😭😭

[code]

[code]

[2017-03-10 07:41] jfurrow commented on #158
Alright, I've got to sign off for now, but I'll come back to this tomorrow. Thank you _so much_ for the help, I greatly appreciate it. ❤️ Sorry you're still experiencing this issue. I'll try to create an environment similar to yours tomorrow, if you can think of any more relevant details (I can't right now), please provide them.

If any other users in can reproduce the issues @wopian's experiencin

[2017-03-10 11:05] wopian commented on #158
It seems it might be an issue with torrents downloaded via a [specific](https://shanaproject.com) source (RSS and magnets from it consistently fail to delete). Another file from another source that was around 300 mb succedded:

[code]

[2017-03-11 04:04] jfurrow commented on #158
@wopian This should actually be fixed by https://github.com/jfurrow/flood/pull/289. Please test and let me know. Thanks!

[2017-03-11 05:04] wopian commented on #158
@jfurrow successfully deleted all the files 🎉🎉🎉

[2017-03-11 07:46] jfurrow commented on #158
Thanks for all your help ❤️

[2017-03-11 07:46] #158 closed

[2017-03-15 23:11] v0vc opened #291 "Get stuck after first screen after logon"
Hi man!
Just did step-by-step by instruction, and after logon screen had this picture
![image](https://cloud.githubusercontent.com/assets/9407549/23974668/d9b3434c-09f5-11e7-8e9b-99ee7fb16724.png)

Console says:
GET /api/client/torrents 304 3.310 ms - -
GET /api/client/torrents/taxonomy 304 5.177 ms - -
GET /api/notifications?limit=10&start=0 304 8.049 ms - -
GET /api/history?snapshot=fiveMin 304

[2017-03-16 05:58] wopian commented on #291
Refreshing the page will sometimes work when that happens

[2017-03-16 08:01] v0vc commented on #291
Refreshing doesn't help me

[2017-03-16 16:23] bmbove commented on #34
@squaresmile I had this issue. It seems like it's not routing the assets directory correctly. Rather than messing with js, I moved everything in ./server/assets to ./server/assets/{subfolder} as a quick workaround just to get it running.

[2017-03-17 03:21] jfurrow commented on #291
It's worrisome that all of you are experiencing this. What versions of Node are you all running?

[2017-03-17 03:23] jfurrow commented on #34
Thanks @bmbove, I'll put this here for visibility.

You need to be sure that your reverse proxy is forwarding _all_ requests to the Flood server. With nginx, that is as simple as the following:

[code]

[2017-03-17 03:33] wopian commented on #291
7.7.3

[2017-03-17 12:41] ajthemacboy opened #292 "Proxy support"
I'm not sure if there's already a way to do this, I'm not familiar with rTorrent. Is there any way to use a SOCKS5 proxy like with Deluge[d]? And, can proxy support be implemented into Flood?

[2017-03-17 15:09] manusauvage commented on #291
@v0vc are you accessing flood through a reverse proxy, by any chance? If so, may I suggest you check the baseURI value in your config?

[2017-03-18 20:07] jfurrow commented on #291
@v0vc Please run Flood as follows: `NODE_ENV=development npm start`, then paste the output from the node server. It should give a stack trace for the 500 error.

[2017-03-18 21:48] jfurrow commented on #292
What does Flood need to do specifically to support a SOCKS5 proxy? As far as I can tell this configuration should exist outside of Flood entirely.

[2017-03-18 21:48] wopian commented on #287
There's [node-cpulimit](https://www.npmjs.com/package/cpulimit), although it seems to be using a somewhat hacky method to achieve it.

Not sure on how cross-platform it is as i've never used it myself.

[2017-03-18 22:30] ajthemacboy commented on #292
I don't know how many other torrent web interfaces support proxies (I think I remember uTorrent and Transmission supporting it, and I know Deluge does,) but I think it would be useful to a lot of people.

I'm running Flood in a Docker container and there's no easy way to run it through a SOCKS5 proxy.

[2017-03-20 07:21] wopian commented on #291
Ah the one it occasionally hung on for me was Auth Status, with all requests OK, and goes away with a refresh.

![](http://i.imgur.com/WnCRIIY.png)

[2017-03-20 18:29] v0vc commented on #291
#jfurrow# stacktrace output:

Trace: { Error: connect ENOENT /srv/lock/=rtorrent.sock
    at Object.exports._errnoException (util.js:1033:11)
    at exports._exceptionWithHostPort (util.js:1056:20)
    at PipeConnectWrap.afterConnect [as oncomplete] (net.js:1099:14)
  code: 'ENOENT',
  errno: 'ENOENT',
  syscall: 'connect',
  address: '/srv/lock/=rtorrent.sock' }
    at ClientRequest.onCompleteFn

[2017-03-20 19:55] na-ji commented on #282
How about some basic bootstrap magic ? Making the left side a collapsable menu and maybe also collapse the top buttons ?

[2017-03-21 03:20] m45t3r opened #294 "Put static assets in a URL namespace"
For users using nginx, one way to increase performance is to intercept static requests and serve them with nginx directly, since nginx is much more efficient than express.js to serve them. Like described in this article ("Static file intercept"): http://blog.argteam.com/coding/hardening-node-js-for-production-part-2-using-nginx-to-avoid-node-js-load/

However, to do this in flood nowadays is quite

[2017-03-21 03:28] thiagokokada opened #295 "Configure Polling Rate according to pollInterval"
I am having some performance issues with flood server side. I am running a small torrent server in a first generation Raspberry Pi, coming from RuTorrent. In RuTorrent I never saw a significant usage in CPU, however flood process (`node`) constantly uses 30~70% and this badly influences performance (this is without an active torrent, with an active torrent this is even worse when a torrent is acti

[2017-03-24 16:07] Bonnee opened #296 "How to add locales"
I wanted to translate flood in Italian, haven't found how to make it work. I did add it.js and update index.js in the i18l dir, but the locales menu still didn't have the italian entry. I then found the client/scripts/constants/Languages.js file and added an entry for italian, but the locale still doesn't show up in the settings.
Is there something else that I have to accomplish to have italian, o

[2017-03-24 22:14] wopian opened #298 "Missing Hong Kong's flag"
Peer list only shows the country code for Hong Kong IPs:

![](https://i.imgur.com/HEyOeFV.png)

[2017-03-24 22:27] wopian opened #299 "Files marked as DnD prevent torrent status becoming completed"
Torrents where some files were marked as Do Not Download remain in the `Downloading` (green) status after reaching 100%, instead of changing to the `Completed` (blue) status.

![](http://i.imgur.com/6KgHubE.png)
![](http://i.imgur.com/4qQhmzd.png)

[2017-03-29 12:46] v0vc commented on #291
Resolved by changing socket: true to false and using correct scgi adress, thanks

[2017-03-29 12:46] #291 closed

[2017-04-02 09:26] wopian opened #301 "New RSS feeds do not work until flood restarted"
From what I can tell, new RSS feeds wont start matching any download rules until Flood is restarted.

I.e, when I first setup flood, I had a match `[\s\S]` download rule for 4 days without a single match on a feed with daily additions. Restarted flood and everything it missed during the 4 days were added.

---

I've also recently noticed that RSS feeds also stop working if rtorrent dies for whatev

[2017-04-04 12:28] eddiewang opened #302 "Question: Would you be able to setup a personal seedbox with this?"
Hi,
Would you be able to setup a seedbox with this? Looking to have my own VPS setup with a torrent client... I know node but don't know about seedboxes very well (just discovered the possibilities of it).
Would I be able to get a VPS instance somewhere and host flood?

Thanks,
Eddie

[2017-04-04 19:08] bengadbois commented on #302
It's possible if you run rtorrent as your torrent client. Flood is just a frontend, comparable to rutorrent.

[2017-04-05 12:30] MrTimscampi opened #303 "Don't automatically start torrent after hash check"
In rutorrent, hashcheck doesn't change the status of the torrent, it just puts it into a separate state on top of which start/pause/stop can be set.

Automatically starting the torrent after hash check is dangerous, as it can destroy ratios on some private trackers if the user makes an error.

It'd be better if it behaved more like rutorrent, by not changing the status of the torrent at all.

[2017-04-05 14:23] MrTimscampi commented on #303
After investigating, it seems that the issue was my imported session showing torrents as stopped while they where still active but at 0%.

Flood already seems to not change the active status of torrents once everything is paused, so nevermind.
Closing this.

[2017-04-05 14:23] #303 closed

[2017-04-09 08:53] karibuTW commented on #152
From my side I'm using the following setting:

[code]

It works well (for the moment)

[2017-04-09 09:08] karibuTW commented on #302
Can.
I written an article just now, on how to install flood (and rtorrent) on Debian (Should be similar for Ubuntu)
https://freedif.org/flood-modern-web-ui-for-rtorrent/

You can then simply get a VPS and install it ;)

[2017-04-09 09:09] karibuTW commented on #165
How about keeping the waves, but remove the bottom and upper part that makes it a drop?

[2017-04-09 10:43] noraj1337 commented on #165
@karibuTW Yeah that could be nice

[2017-04-13 06:07] llwu commented on #298
#305

[2017-04-13 06:11] llwu commented on #296
I think you gotta add it to the other languange's menus for Language select.

Example:
https://github.com/jfurrow/flood/search?utf8=%E2%9C%93&q=fr&type=

[2017-04-13 16:23] bengadbois commented on #259
It would be nice to see official tags/releases

[2017-04-14 03:36] jfurrow commented on #292
Sorry for the delay, but there's nothing that Flood needs to do differently for this to work, unless I am mistaken... can you provide any more details? I'll close this for now but feel free to reopen if you can provide some specific requirements.

[2017-04-14 03:36] #292 closed

[2017-04-14 03:43] jfurrow commented on #294
Thanks for the issue, sorry for the delay! This is good to know, but can't you accomplish this right now? The only static assets are `style.css`, `app.js`, and `images/*.png`, so it seems like you could define a pattern in nginx like `(css|js|png)$` and then route them to the `server/assets` directory of your Flood installation.

[2017-04-14 03:44] #294 closed

[2017-04-14 03:47] jfurrow commented on #295
Thanks for the issue! You're right, the poll interval in the config is meant for the Flood client to poll the Flood server. This should be more clearly defined, and I agree that the Flood server's poll of rTorrent should be configurable.

Regarding CPU usage, there are definitely optimizations that could be made when the Flood server processes the data returned by rTorrent. Please file a separate

[2017-04-14 03:51] jfurrow commented on #296
Sorry @Bonnee for the immense delay, and thanks for your willingness to contribute. @llwu is correct; those are all of the files that need to reference the new language.

I'll close this issue as the question is answered, but I would be thrilled to have you submit the Italian translation file! If this task seems to daunting, I'd be happy to do the work for you if you could just provide me with the

[2017-04-14 03:51] #296 closed

[2017-04-14 03:51] jfurrow commented on #298
Closed thanks to @llwu!

[2017-04-14 03:51] #298 closed

[2017-04-14 03:59] jfurrow commented on #299
I agree, the torrent should be considered `completed` if all requested files have finished downloading.

This might be confusing for users, but I think the percentage of completion should always reflect the percentage of total data downloaded — e.g., if a user sets 50% of a torrent to `do not download`, then the torrent's status will be `completed` when the torrent's percentage reaches 50%. What d

[2017-04-14 03:59] jfurrow commented on #301
Thanks for the bug repot, I'll look into this.

[2017-04-14 04:00] jfurrow commented on #302
I'm closing this since the question is answered.

[2017-04-14 04:00] #302 closed

[2017-04-14 04:33] wopian commented on #299
Looks like the related issues of https://github.com/rakshasa/rtorrent/issues/588 is somewhat relevant.

[2017-04-14 04:35] jfurrow opened #306 "Create script to rasterize SVG flags from lipis/flag-icon-css"
Let's use [this repository of flag images](https://github.com/lipis/flag-icon-css) (thanks to @wopian for finding and sharing this!) instead of the current PNGs.

However, instead of just using these SVGs, let's create a script rasterize the 4:3 aspect ratio SVGs to improve rendering performance.

Thanks again to @wopian for finding this repository!

[2017-04-18 11:26] RC1140 opened #308 "Disk usage"
Hi
I think it would be quite beneficial to have a small section on the sidebar with the servers disk stats (Free/Used basically), have started working on this for myself but let me know if there is a specific direction or feature set you think should be included.

Thanks for the awesome project.

[2017-04-18 15:42] noraj1337 opened #309 "[Question] fsevents warnings"
Are those warnings with `fsevents` serious problems?

[code]

[2017-04-18 16:14] noraj1337 opened #310 "Flood not working anymore after update"
I updated flood (following the README), and after the update flood was not reachable anymore.

[code]

(my domain name is still reachable, rTorrent working, I can access to him with ruTorrent, only flood is not working).

I have no error or warnings, no logs, status ok but it's just not running (was fine before updating).

I tried with Firefox and Vivaldi, both show error 102 `ERR_CONNECTION_REFUS

[2017-04-18 17:22] blacksponge commented on #310
If you're trying to access to flood directly via yourdomain:3000 without proxying flood with nginx or so this is a normal behavior. ```floodServerHost: '127.0.0.1'``` tells node to listen **only** on the loopback address but you want to reach it via the distant address of your server. Thus you can change it to ```floodServerHost: '0.0.0.0'```, that way you will be able to reach flood on any networ

[2017-04-18 22:52] wopian commented on #310
And this is why we need https://github.com/jfurrow/flood/issues/259 with semver versioning for breaking changes like this 😢

[2017-04-18 22:54] wopian commented on #308
👍, would let me remove the remaining disk space column and only have that information shown once

[2017-04-18 22:58] wopian commented on #309
Nope, they're just child dependencies that are only needed for a specific OS (i.e Darwin for fsevent) to function properly ☺

[2017-04-19 02:07] vBm opened #311 "Problems with Win paths when adding new files"
[code]

Path is a correct one, folders do exist and i have sufficient permissions.

Problem is that there's no escaping of the backslash thus it renders path non existent/invalid.

![2017-04-19_03-56-16](https://cloud.githubusercontent.com/assets/80596/25160086/2db26602-24b4-11e7-8449-d98b79be2fbe.png)

If we write it like this it'll be just fine.

![2017-04-19_03-59-25](https://cloud.githubuserco

[2017-04-19 03:51] jfurrow commented on #310
Ahh shit, sorry, I didn't think about that...

[2017-04-19 03:56] #310 closed

[2017-04-19 04:21] jfurrow commented on #308
Good idea, and thanks for your willingness to implement this! I haven't put a ton of thought into this, but here's what I would love to see:
1. Flood should read the used/total disk space of all volumes directly from the host, regardless of the host operating system
2. The drives displayed in the sidebar should be configurable in the UI tab of the settings modal (so that a user can hide individual

[2017-04-19 04:23] jfurrow commented on #309
👍 I agree the warnings are super annoying, but there's no way around them as far as I know. If anyone does know, please feel free to re-open this issue with more details.

[2017-04-19 04:23] #309 closed

[2017-04-19 04:24] jfurrow commented on #311
Thanks for the issue! I'll fix ASAP.

[2017-04-19 05:47] wopian commented on #309
Hopefully this will become a DEBUG message and not shown by default at some point (https://github.com/npm/npm/pull/12841#issuecomment-271795543)

[2017-04-19 12:38] 130db opened #312 "Search within torrent files"
E.g.
Type: message
Results:
* The Police - Message in a Box: The Complete Recordings
* Machine Head - The Burning Red

_The Police_ - because "message" in title
_Machine Head_ - because of song "Message in the Bottle"

[2017-04-19 15:28] jfurrow commented on #240
I'm reopening this as it's been requested by multiple users. Let's make the authentication optional.

[2017-04-19 16:35] vBm opened #313 "Mediainfo doesn't work on windows"
MediaInfo is present in the path so it can be run from command prompt just fine.

![2017-04-19_18-30-44](https://cloud.githubusercontent.com/assets/80596/25190981/52dc1138-252e-11e7-9042-23fdc15f5ca8.png)

When trying to access MI via flood I get it's error msg `An error occurred while running mediainfo on the server. Check that mediainfo is installed and available in the PATH to Flood.`

Console

[2017-04-19 19:03] noraj1337 commented on #309
Thanks all for the answer

[2017-04-19 19:11] noraj1337 commented on #310
@blacksponge : you're right, I'm not proxying it.
@wopian : yes `floodServerHost` that was not clear that was a listen address and there is no changelog or doc so...
@jfurrow you're welcome, you do very good job but #259 seems to be a number 1 priority.

[2017-04-20 03:15] jfurrow commented on #312
Thanks for the suggestion! Unfortunately I'm not sure this is a great idea right now.

All searching/filtering is performed on the client to provide immediate updates. This means the client would need to store each torrent's list of files. The client requests the entire torrent list every 5 seconds (by default), the response of which can be a large amount of data (depending on the number of torren

[2017-04-20 03:16] jfurrow commented on #313
Thanks for the issue, I'll look into this ASAP.

[2017-04-20 17:26] frebib commented on #284
Sonarr/CP use a static path at runtime in the config fixing it to that path. Deluge is interesting as it uses a HTTP header in the client request: `X-Deluge-Base: /deluge` which IMO is much more sensible as it allows for more flexibility as a single instance can be run at multiple URLs at the same time.

I'd like to add I had a similar issue with this as I thought the `baseURI` field in the config

[2017-04-21 03:18] jfurrow commented on #308
@RC1140 Here's a quick mockup
<img src="https://cloud.githubusercontent.com/assets/1134755/25261284/1d955042-2606-11e7-86e5-6678276b2325.png" width="240"> <img src="https://cloud.githubusercontent.com/assets/1134755/25261285/1da69f96-2606-11e7-92dd-86f75d7bbc1d.png" width="240">

[2017-04-21 05:34] RC1140 commented on #308
Wow thanks for that , makes things much easier to build, gonna try and work on it more this weekend been just putting together scafolding atm.

[2017-04-21 20:35] stephdewit commented on #306
Hello.

I write a script, you will find it [here](https://gist.github.com/stephdewit/f84c78e1eb16311813f7ed156c4176ac). It uses Inkscape as ImageMagick doesn't play very well with SVG. Images are then optimised with `pngcrush` and `optipng`.

It creates 9-pixel tall PNG's (to keep the 4:3 ratio). You can change this in the script if you want to.

I put the PNG files [here](https://www.dropbox.com/

[2017-04-22 03:06] #259 closed

[2017-04-22 03:10] jfurrow commented on #259
Alright, this is finally happening! I just released v1.0.0. Thanks for your patience! <3

[2017-04-23 14:30] gregf opened #316 "Can't acess webui after starting"
I already had rtorrent configured for scgi that I am currently using with rtorrent. So I copied config.template.js to config.js edited the settings ran npm install followed by npm start. It appears to start up but going to host:5000 returns a 404.

This is the only output I see upon startup. Looking at ports opened with lsof I don't see anything bound to port 5000.

[code]

My config.js

[code]

[2017-04-23 14:34] gregf commented on #316
I'm a idiiot the config port clearly says 3000. Closing this.

[2017-04-23 14:34] #316 closed

[2017-04-23 20:59] RM57380 opened #319 "No results RSS feed"
When i add rss feed with their URLS, after clicking on 'Adding', '0 matching' is write beside the label of the rss feed.

[2017-04-23 23:20] jfurrow opened #320 "Running Flood with 8k torrents crashes rTorrent"
A user wrote:

[2017-04-24 01:16] jaredledvina opened #321 "Filter torrents by tracker message"
It'd be great to filter/search for torrents by tracker message. Specifically, I'd like to find all torrents where the tracker reports 'Unregistered torrent' and delete them.

[2017-04-24 01:28] kannibalox commented on #320
By this I mean when looking at the strace, it was polling every file with `stat`, similar to a `save_session` call. This is synchronous and takes a long time for me (more than a minute), long enough to drop peer connections. Watching the stack trace, I would see a scan finish, a short wait time where it was responsive, then the next scan would kick off. rTorrent never crashed, it just never got ou

[2017-04-24 04:39] jfurrow commented on #320
Thanks for the additional information!

[2017-04-24 06:10] welcoMattic opened #322 "Edit tracker address"
It could be nice to let user able to edit tracker address.

[2017-04-24 16:16] rlko commented on #319
Have you tried to restart flood? See #301

[2017-04-24 16:25] AlessandroBerrone opened #323 "Error status if just one of trackers is unreachable"
Not really a bug, just a "wrong information" given to the user.

If just one of the trackers is unreachable or miswritten, flood flags the torrent with the ERROR status. Funny fact is thah the torrent begins and ends the download without any problem, because it successfully connect to the other trackers.

So there is just to fix the "error" flagging condition, because at the moment almost every to

[2017-04-24 16:29] RM57380 commented on #319
Yes, i already try and it's the same thing.
Even without regex rules on the rss feed.

[2017-04-24 16:31] wopian commented on #319
If a feed has no regex rules it wont match anything. `[\s\S]*` will match everything

[2017-04-24 16:33] RM57380 commented on #319
Yes, but in the details of the feed, we must see the number of items presents and here i've 0, on ruTorrent it's working

[2017-04-24 16:57] rlko commented on #319
On Flood there's none items list of RSS feeds. The 'match' you see in "Torrent Feeds" refers to which download rules matched in the feed.
Until it's fixed, for each new download rules you have to restart Flood.

I also came from rutorrent, and I also found this confusing at the start.

[2017-04-24 17:04] RM57380 commented on #319
Ah okay, thanks for the help. It's a little bit an frustration at the beginning.

[2017-04-25 00:02] AlessandroBerrone opened #324 "Set Watchfolder?"
I know that it can be set with CLI commands, but it would be great if UI included the possibility of choosing a watch directory.

[2017-04-25 10:28] Phlooo commented on #308
This mockup is perfect!

A similar bar for CPU load would be cool too :)

[2017-04-25 10:35] Phlooo opened #325 ""Add torrent" window doesn't auto-dismiss"
When adding torrents, I see them appearing in the background but the "Add torrent" window doesn't dismiss and the "Adding..." button keeps animating. Torrents are correctly added and started behind that, but I have to click outside of the window to make it disappear. Is this normal?

Also, when changing tabs in this window (between 'URL' or 'Files') it doesn't remember what you previously entered

[2017-04-25 15:28] nVitius opened #327 "Option to download files directly to destination"
If I'm downloading a torrent that is a folder, I'd like to have the files inside the folder placed directly in the selected destination.

The current functionality is such that if I make a torrent from this folder: `bar/baz.abc`
And I set the destination to `foo/`
the file will be available in `foo/bar/baz.abc`. I want the file to be placed in `foo/baz.abc`.

ruTorrent has an option on the "add to

[2017-04-26 04:20] jfurrow commented on #312
Alright, I'm re-opening this issue and I'll repurpose it as a request to enable advanced filtering.

[2017-04-26 04:24] jfurrow commented on #312
User @jaredledvina wrote:

[2017-04-26 04:25] jfurrow commented on #321
This is a good idea, thanks for submitting! I'm going to close this to consolidate into a similar issue: https://github.com/jfurrow/flood/issues/312

[2017-04-26 04:25] #321 closed

[2017-04-26 04:26] jfurrow commented on #322
I agree, this should be added. Thanks for the issue!

[2017-04-26 04:29] jfurrow commented on #323
Yeah, this is a good call. Thanks for the issue! I'm not sure what the best way to handle this is, but I'll come up with something. It would be awesome if someone could investigate how other UIs determine an error state (specifically ruTorrent), but I'll tackle that if needed.

[2017-04-26 04:29] jfurrow commented on #324
Yeah, this is trivial to add. Thanks for the issue!

[2017-04-26 04:34] jfurrow commented on #325
Thanks for filing the issues!

1. That's not normal, this sounds like a bug. Can you look at the network tab of your browser's developer tools and see what response you receive from the `add-files` endpoint when this happens?

2. This is a good idea, I'll create a separate issue to track this improvement.

[2017-04-26 04:36] jfurrow opened #329 "Remember previous state in Add Files modal"
Let's store which tab the user most recently used ("By URL" or "By File"). Let's also share the state of the destination textbox/dropdown between the two tabs, so that toggling between tabs doesn't reset the value of the textbox.

Originally requested in https://github.com/jfurrow/flood/issues/325

[2017-04-26 04:39] jfurrow commented on #327
Thanks for the issue (and the PR)! I agree this option is necessary.

[2017-04-26 04:40] jfurrow commented on #319
Thanks for the issue, and sorry for the confusion! I'll repurpose this issue to try to improve the instructional text for this feature.

[2017-04-26 05:09] nVitius commented on #319
We could add a warning label under the Match Pattern field that shows if it's empty. Something like "empty Match Pattern will return no results". Or we could just make it a required field, since there's probably no use-case for adding a feed that never matches... We could also just default it, and keep it under an "advanced settings" area.

[2017-04-26 06:33] jfurrow opened #331 "rTorrent doesn't like adding >20 torrent URLs simultaneously"
rTorrent seems to have trouble adding a large number of torrent URLs simultaneously. When testing with 35 torrent URLs, it will sometimes add all 35 and other times stop at 25. Let's try to figure out why this is happening and then stagger these requests.

[2017-04-26 07:00] nVitius commented on #54
There's a setting to increase the max size for xmlrpc requests: https://github.com/rakshasa/rtorrent/blob/master/src/command_network.cc#L303

Might be worth looking into.

[2017-04-26 11:25] EternalBlack opened #332 "[Request] Create torrent from file"
First of all: thanks for the awesome work!

I would love to create torrents i.e. uploading a file (either via browser/webinterface or via FTP inside the folder) and creating a torrent file/URL or magnet link from it to be available for others.

[2017-04-26 14:54] nVitius commented on #332
For the record, it looks like rtorrent doesn't have functionality to create torrents itself. ruTorrent handles this with this code:
https://github.com/Novik/ruTorrent/blob/master/php/Torrent.php
https://github.com/Novik/ruTorrent/tree/master/plugins/create

WebTorrent has a JavaScript package for creating torrents that we might be able to leverage:
https://github.com/webtorrent/create-torrent

[2017-04-27 05:04] jfurrow commented on #332
Thanks for the issue @EternalBlack! I agree, this is necessary.

Thanks for doing some research @nVitius, `create-torrent` looks like it should work!

[2017-04-27 05:44] Wonderfall commented on #313
Maybe it's not related, but it used to work in my Docker container, and since I updated to 1.0 Mediainfo is not working anymore.

[2017-04-27 14:24] NoLooseEnds opened #333 "[UX suggestion] When adding torrents let "location" and "tags" be the same across the tabs."
When adding torrents let "location" and "tags" be the same across the tabs. The only "field" that should change is the "torrent" field.

This stops users from redoing when they start filling out on the "By URL", but really wants to add "By File".

[2017-04-27 18:01] nVitius opened #334 "Spanish Localization"
I'll be working on this in the next week or so.

[2017-04-27 18:13] NoLooseEnds opened #335 "[Graph] Set the graph scale based on the highest speed in that session"
<img width="521" alt="flood_graph" src="https://cloud.githubusercontent.com/assets/4103531/25497780/99222c36-2b7d-11e7-8764-94d23a028977.png">

[2017-04-28 00:52] kannibalox commented on #320
Is there any way to trace the XMLRPC calls that are sent directly to rtorrent? I'm not too familiar with nodejs, but I'd be happy to perform any troubleshooting, even if it means applying a patch file or something.

[2017-04-28 12:13] vinz243 opened #336 "[UX Suggestion] speed indicators"
I really like the UI, except for the indicators for speeds and sizes. I mean it's common UX design to use no more than one or two fonts, and avoid different text sizes in the same documents, and even more in the same blocks. I think something like that would look better:

![http://i.imgur.com/7TXQrOq.png](http://i.imgur.com/7TXQrOq.png)

Thanks in advance

[2017-04-28 22:19] d4os commented on #224
Flud is absolutely sexy, but
Firefox or Chrome, with my 7k+ torrents it is basically not working. First load takes minutes, then parts that are already loaded are immediate, but the rest takes ~20s to complete. 4 minutes after going into mediainfo tab the process was still eating 100% of 1 CPU's core, flood server was utilising 100% of another core, meanwhile ruTorrent kills my PC client-side, but

[2017-04-30 00:09] nVitius opened #337 "Debug Statements in Server"
There's an npm package that allows for debug output that can be displayed or hidden using an environment variable: https://www.npmjs.com/package/debug

It might be useful to add some debug statements throughout the server code for bug reports and the like. What do you think, @jfurrow?

[2017-04-30 14:34] NoLooseEnds opened #338 "[Bug?] All torrents has 1/1/1970 as added date."
I run it on an Ubuntu 10.16, torrents and files are stored on an NFS share.

[2017-04-30 21:12] wopian opened #339 "Confirm closing modals with user input"
This is mainly an annoyance with the add torrents modal, as clicking anywhere outside the modal will close it and opening it again does not restore the contents

Which can lead to accidentally closing it while adding multiple torrents...and have to add them all again

[2017-05-03 04:08] nVitius commented on #339
How about, instead, we keep the list in memory until it is submitted or the page is reloaded.

[2017-05-03 04:20] nVitius commented on #178
There's a related issue for this on npm: https://github.com/npm/npm/issues/13789
@lustyffh if you really want to run this on Windows, I would suggest you either use Windows 10's new Bash shell, or run it using Docker.

@jfurrow we might be able to solve this simply by using a Gulp task to run the server too.

[2017-05-03 05:19] jfurrow commented on #333
I agree, good idea! This is covered by https://github.com/jfurrow/flood/issues/329 so I'll close this for now. Thanks for the issue!

[2017-05-03 05:19] #333 closed

[2017-05-03 05:20] jfurrow commented on #335
Good idea!

[2017-05-03 05:22] jfurrow commented on #336
I'll consider making the font sizes more consistent in the next iteration, but I think it works well as-is. If other users have opinions about this, feel free to chime in here.

Sorry @vinz243 but thanks for filing the issue!

[2017-05-03 05:22] #336 closed

[2017-05-03 05:22] jfurrow commented on #337
Yep, this is a great idea!

[2017-05-03 05:24] jfurrow commented on #338
Just to be 100% sure, you are adding them via the Flood UI, right? If so, how are you adding them (files or URLs)?

[2017-05-03 05:24] jfurrow commented on #339
I like @nVitius's idea of storing them in memory. I'll edit the title and use this issue to track that task.

Thanks!

[2017-05-03 05:29] Wonderfall commented on #338
I don't have this problem when I adds torrents via the Flood UI, but using scgi directly I also have this issue (not sure if it's related to Flood UI, right?).

[2017-05-03 05:31] jfurrow commented on #334
Thank you! ❤️

[2017-05-03 05:51] nVitius commented on #338
@Wonderfall That would be correct. Flood adds a custom property for the date.

[2017-05-03 06:04] jfurrow commented on #320
@kannibalox Sorry for the delay, I totally forgot to reply to you.

You can see the XMLRPC calls that are sent to rTorrent by checking out the contents of this file: https://github.com/jfurrow/flood/blob/master/server/util/scgi.js. The XML is generated [here](https://github.com/jfurrow/flood/blob/master/server/util/scgi.js#L20) and stored in the variable `xml`.

So you could write `console.log(xml

[2017-05-03 06:04] #334 closed

[2017-05-03 06:12] jfurrow commented on #320
@kannibalox It just dawned on me that this bug is probably caused by requesting `d.free_diskspace=` for every torrent... I'm going to feel really dumb if this is the case.

If you wouldn't mind testing this for me, I'd be super grateful. Try commenting out two lines in this file: https://github.com/jfurrow/flood/blob/master/shared/constants/torrentGeneralPropsMap.js (yes this file is messy AF, I'm

[2017-05-03 06:52] nVitius commented on #216
I'm down to work on this next.

I think the easiest solution would be to add a property on the torrent that can tell us if a given user can read/write that torrent. I've got some ideas; I'll try to write it up in the next few days.

[2017-05-03 07:14] NoLooseEnds commented on #338
Not adding them through Flood, but automagically via Flexget.

Is there a way to let Flood read the creation date of the torrent file (or pull the data from rtorrent when it started the torrent).

[2017-05-03 10:37] wopian commented on #178
This isn't an issue if you use `yarn`

[2017-05-04 14:09] sohorx opened #342 "[bug & fix proposal] mediainfo does not work"
ok, on my side details.basePath is a lot of time an empty string.
this is making mediainfo return 1 and making it not working.

so why not making a [details.basePath || path.join(details.dirname, details.name)]
of course, getting to know why basePath is empty feel smarter :)

but after this, I still get the process stopped because of mediainfo writing on stderr even though it does print good resul

[2017-05-06 16:51] abduct opened #343 "Cosmetic features"
I installed flood on windows which is working surprisingly well using the rtow latest binaries and npm.

Anyways heres a list of a few cosmetic changes that I think should be added or adjustable:

-Percent Complete: This should be changeable to allow a "completeness bar" as it is now, or a actual percentage out of 100. I find the bar hard to read and not very accurate for me due to that. So either

[2017-05-06 17:14] wopian commented on #343
See #286

[2017-05-07 18:08] Phr33d0m opened #344 "[Request] Bottom panel with torrent details"
Hello,

I'd like to request a bottom panel with tabs which summarizes the dialog opened when you double click a torrent. Also, this panel should remember the tab it's on when moving between torrents.

Thanks!

[2017-05-07 21:12] Phr33d0m opened #345 "[Request] Rename torrent files"
Hello,

I'm new to rtorrent and I'm unsure if this is possible through Flood but a way to rename the files and/or folders within the torrent is something I'd really see useful (it's what I most used in my previous torrent clients).

Thanks!

[2017-05-07 23:42] Phr33d0m opened #346 "[Request] Configurable speedgraph duration"
Hello,

Currently the speed graph only shows the last 3-5 minutes. It would be nice if we could configure the amount of time to display, for example the last 60 minutes or the last 48 hours.

Thanks!

[2017-05-08 10:36] frebib opened #347 "[Bug] Flood stops updating after an invalid api response"
It seems that after a while (sometimes 30s, sometimes several minutes) flood stops updating itself. A friend of mine made a good suggestion that it could be something to do with Chrome putting the process into the background?

What happens is when flood sees a failed request to `stats` or `torrents` endpoints, it doesn't send another request again.

![failed requests](https://i.imgur.com/NA5HCql.p

[2017-05-08 10:42] frebib commented on #338
I can confirm this same bug when torrents are added through sickrage

[2017-05-08 11:00] xInsertx opened #348 "[Bug] Safari on IOS missing topbar"
Running iOS 10.3

Don't see the top bar. Sometimes I see part of it.

![img_0268](https://cloud.githubusercontent.com/assets/10349764/25801446/f7b4ec6e-3430-11e7-81f4-5339885e2c17.PNG)
![img_0269](https://cloud.githubusercontent.com/assets/10349764/25801445/f7b2cd9e-3430-11e7-87e4-844ec7ee76a2.PNG)

[2017-05-08 11:38] wopian commented on #338
Had this happen many times with magnets added via Flood

[2017-05-08 15:09] sohorx commented on #313
hi,
I've got the same error on arch and is probably related to this [issue 342 fix proposal](https://github.com/jfurrow/flood/issues/342).

[2017-05-08 15:34] NoLooseEnds opened #349 "[Request] Download files through http"
(Not sure if this has been brought up before, but I think everything else is about .torrent files)

I would like the ability to download downloaded files (i.e not the .torrent, but the actual files) through  Flood.

Basically the same function as the "[Data](https://github.com/Novik/ruTorrent/wiki/PluginData)" plugin of rutorrent.

[2017-05-10 15:43] larsjohnsen opened #350 "[Request] Drag & drop torrent to torrentList"
Adding a torrent file is currently a many-step process (click "Add torrent" → click "By file" → drag & drop → click "Add file"). Since adding a single torrent is done quite often, it would be nice to be able to drag & drop to add and start the torrent, as soon as the site has loaded.

[2017-05-10 21:19] abduct commented on #350
I agree. Perhaps to expand on this allow drag and dropping to the "add torrent" button in the upper right to instantly add the torrent with the last settings used previously to add a torrent.

[2017-05-10 21:21] abduct commented on #349
I believe this feature is already present. Double click a torrent, click on files, then check mark which files you wish to download. Once selected a download button will appear which will download the files via the browser.

[2017-05-10 21:23] abduct commented on #344
Also requested here: https://github.com/jfurrow/flood/issues/343 for dealing with another feature

[2017-05-10 21:48] NoLooseEnds commented on #349
@abduct You are right. Thank you. I did not see the check marks, it looks nice when you know it, but it's not that easy to spot (at least not for me ;)).

I guess this can be marked as solved. :)

[2017-05-10 21:48] #349 closed

[2017-05-11 01:23] Phr33d0m commented on #343
Isn't this what ```pollInterval``` is for?

[2017-05-11 01:23] Phr33d0m commented on #344
True that, I read that issue between the lines and skipped that you mentioned it. As a side note on your reported issue: try to split that between multiple issues so the dev can manage them easier.

[2017-05-11 02:28] abduct commented on #343
@Phr33d0m You can not control the individual times that each API updates with. For instance, if you want one API more responsive than the other to save on total API calls to rtorrent while still getting the responsiveness you desire.

[2017-05-11 04:02] jfurrow commented on #338
I agree the date field should display `Unknown` if it's undefined, so I'll use this issue for that.

To reiterate: Flood adds a custom attribute on the torrent when the torrent is added (the same custom attribute that ruTorrent uses). So adding torrents via any other method will not have this attribute.

[2017-05-11 04:03] jfurrow commented on #342
I'll look into this, thanks for the suggestion!

[2017-05-11 04:05] jfurrow commented on #343
I agree about some of these features. It would be really helpful if you could create separate issues for each one. This would help gauge community interest and also make working the tasks a bit more clear. Thanks!

[2017-05-11 04:07] jfurrow commented on #344
I can see why this would be useful. Thanks for the issue!

[2017-05-11 04:08] jfurrow commented on #346
I agree, I've been wanting to do this for a long time, but I keep finding other issues that are a higher priority. Flood actually already collects this data in its history databases for what it's worth...

[2017-05-11 04:10] jfurrow commented on #347
Interesting. It's weird that the requests are canceled after such a short duration (3 and 2 ms). So the tab was inactive while this was happening?

[2017-05-11 04:11] jfurrow commented on #348
Yeah, admittedly I have only been testing Flood in Chrome. This will be trivial to fix, just need to get around to it...

[2017-05-11 04:12] jfurrow commented on #350
Good idea, thanks for the issue!

[2017-05-11 06:55] NoLooseEnds commented on #338
I am pretty sure rutorrent showed the added date and the completed date even if torrents added outside of rutorrent.

(Source: I've used rutorrent in combination with flexget for years.)

[2017-05-11 07:16] jfurrow commented on #338
As far as I know, Flood uses the same custom attribute as ruTorrent (it's `addtime`). Maybe ruTorrent looks for other custom properties as well... I'll look into this.

[2017-05-11 07:19] frebib commented on #347
I thought initially it could have been but I observed the same behaviour leaving the tab open and walking away from my computer for a while.
What causes the cancellation?

[2017-05-11 13:26] Phr33d0m commented on #346
@jfurrow I've been through the code a bit (looking for something else than this) and saw what you're saying, thus I thought of putting this request here and whenever there's time for it you can track it easier. No hurry, as you said it's a very low priority.

Anyhow, from what I've seen there are a couple of functions defined [here](https://github.com/jfurrow/flood/blob/db5b50b7694513e8ee3988fe283

[2017-05-11 19:39] Wassup789 opened #353 "[Request] Editable RSS feed torrent field"
Most RSS feeds use the `enclosure` field instead of the `link` field for the torrent URIs as they are compliant with Bittorrent's RSS format (http://www.bittorrent.org/beps/bep_0036.html). As of now, flood uses the `link` field instead of the `enclosure` field.

Sample feed:
https://yts.ag/rss uses the `enclosure` field with the `url` attribute for the torrent URI

[2017-05-12 19:14] abduct opened #354 "[Request] Percent Complete Column"
Percent Complete: This should be changeable to allow a "completeness bar" as it is now, or a actual percentage out of 100. I find the bar hard to read and not very accurate for me due to that. So either a way to swap between the two or get rid of the bar from the category and move it else where.

Perhaps when you click on a torrent (single click to highlight) create a panel that scrolls up from th

[2017-05-12 19:18] abduct opened #355 "[Request] API Update Interval"
Api Update Time: I haven't seen a way to edit this inside flood itself (only the config) thus this should be added to the settings windows.

I also think each api should have adjustable poll time. Say for instance a user likes to have an accurate download speed displayed but only needs other apis to update every 5 seconds. These should be individually adjustable.

[2017-05-12 19:19] abduct opened #356 "[Request] Reusable Tags"
Reusable Tags: Once a tag is created it should be able to use in a click menu to assign it to another torrent rather than having to retype the tags name over and over. This might help for people like me who tag torrents heavily.

[2017-05-12 19:20] abduct opened #357 "[Request] Multiple Tag Filter"
Multiple Tags Filter: A feature which allows you to select from the filter menu which tags you want to display. For instance say you have movies and tag them "horror, action, scary" and want to search for "action, scary" movies. By selecting a group of tags you can filter torrents with said tags.

See also https://github.com/jfurrow/flood/issues/286

[2017-05-12 19:21] abduct commented on #343
This can be closed as I added individual issues.

[2017-05-12 19:21] #343 closed

[2017-05-13 20:16] wopian opened #358 "Hash checking stopped magnets changes date to '1/1/1970'"
Steps to reproduce 50% of the time:

1. Batch add magnets with no trackers (DHT only) with `Start Torrent` unticked
   - `ABCDEF.meta`, `5/13/2017`
2. Select added torrents and check their hashes
3. Keep torrents selected and start them
4. Once torrent metadata downloads they sometimes become:
    - `Ubuntu 17.04`, `1/1/1970`

[2017-05-13 20:29] abduct opened #359 "[Bug] Downloading multiple files causes flood to hang"
I have a torrent finished with 12 400mb files and when I select 2 or more files and click download it causes flood to hang.

What is flood attempting to do? I would advise against running any kind of compression on the files since it might take a long while to archive them. A better solution would be to simply throw the files into a archiving format such as tar (which does not compress by itself)

[2017-05-14 00:48] geo5275 commented on #348
This also have been happening for a while on Chrome for Android .

I'm running Chrome 58.0.3029.83 and Android 7.1.2

![screenshot_20170513-214012](https://cloud.githubusercontent.com/assets/20895147/26030295/c6727290-3825-11e7-8ed7-2fddc81b6505.png)
![screenshot_20170513-214040](https://cloud.githubusercontent.com/assets/20895147/26030294/c6726f20-3825-11e7-88e5-c858b9d7ae67.png)

[2017-05-15 18:48] romancin opened #360 "Flood completely hang with large number of torrents"
First of all thank you really much for this awesome Webui. After testing it I fell in love with it, so I decided to migrate my current setup to a rutorrent+flood setup on the same docker container. I have more than 2000 torrents seeding. After migrating using rutorrent and working flawlessly, when I start flood everything hung. Cannot access flood nor rutorrent web interfaces. rTorrent is still ru

[2017-05-16 22:21] NoLooseEnds commented on #165
I made a quick logo with favicons (pull req here: https://github.com/jfurrow/flood/pull/363), I got tired of searching for Flood in among my browser tabs.

I don't want to step on any toes, but it should work as a (temporary) alternative. :)

![flood_mockup](https://cloud.githubusercontent.com/assets/4103531/26130781/45133034-3a8e-11e7-9041-b6d4367a5fd4.png)
![android-chrome-512x512](https://cloud

[2017-05-17 06:10] noraj1337 commented on #165
Nice work.

[2017-05-17 14:52] Phr33d0m commented on #335
I can't replicate this issue. For me the graph auto-expands and it never appears like shown in the 2nd screenshot. Could have this been fixed or it's just your browser not rendering the graph correctly? Working fine here with Chromium v58 and Firefox v53.

[2017-05-17 14:57] NoLooseEnds commented on #335
The second screenshot is the suggestion. It's a mockup.

The suggestion is to have the graph reflect the max speed of the session/set max speed, not just the last few mins.

[2017-05-17 15:33] jfurrow commented on #165
This is looking pretty sweet! Thanks for doing this. I did have a different
direction in mind for Flood but this is a great start, so I'm inclined to
merge this.

That being said, I'm traveling in the carribean and have super spotty
internet until next week Wednesday. I'll try to find time to review this.

On May 17, 2017 2:10 AM, "Alexandre ZANNI" <notifications@github.com> wrote:

[2017-05-18 10:28] nVitius commented on #165
For what it's worth, I really like the icon @jfurrow shared earlier in this thread. It's got a totally different feel than the Deluge one, so I don't think that's an issue.

[2017-05-18 10:30] nVitius commented on #360
If I remember correctly, this has to do with Flood polling rtorrent for every item really often. I believe @jfurrow is working on a refactor that should solve this issue.

[2017-05-18 11:30] romancin commented on #360
Awesome! Will wait for it :D

[2017-05-18 14:03] Phr33d0m commented on #335
Oh sorry, I completely misunderstood your suggestion...

[2017-05-23 19:49] userdocs opened #365 "api 401 after creating user with with flood using nginx + proxypass - reload fixes it"
When the create user prompt is completed i see this:

![1](https://cloud.githubusercontent.com/assets/16525024/26373298/e0396ca8-3ff8-11e7-99ef-ab4fc6f23c2d.jpg)

Upon looking at my screen session i see this:

![2](https://cloud.githubusercontent.com/assets/16525024/26373297/e02df800-3ff8-11e7-8850-0c95237ecac5.jpg)

If I ctrl + f5 the page, login again flood loads completely and works fine.

I fi

[2017-05-24 04:01] varyoo opened #366 "Can the runtime files be separated from the source code?"
For example `config.js` or the file that holds the password. In order to package Flood as a regular program.

[2017-05-25 03:46] jfurrow commented on #345
This is a cool idea. Are we sure this is possible with rTorrent? If somebody could research that, I would be grateful!

[2017-05-25 03:47] jfurrow commented on #347
I'm not sure what would cause the requests to be canceled, especially after such a short period of time... have you observed this behavior since reporting the issue? I'm not sure how to reproduce this.

[2017-05-25 03:47] jfurrow commented on #353
Thanks for the issue! I agree, this needs to be implemented.

[2017-05-25 03:48] jfurrow commented on #354
Let's make this configurable so that users may choose to see the percent complete, the bar, or both.

[2017-05-25 03:52] jfurrow commented on #355
I agree, this should be configurable.

In an update that is coming soon™, the Flood server will employ [server-sent events](https://developer.mozilla.org/en-US/docs/Web/API/Server-sent_events/Using_server-sent_events) and emit events when data has changed. This will remove the need for the Flood client to poll the Flood server entirely, and will reduce the amount of data transferred dramatically.

[2017-05-25 03:54] jfurrow commented on #356
💯 Yes, agreed! All tags should be stored in a database, and there should be a fancy auto-complete UI component whenever the user is required to select tags.

[2017-05-25 03:56] jfurrow commented on #357
Yep, this is a good idea.

[2017-05-25 03:56] #357 closed

[2017-05-25 03:58] jfurrow commented on #358
This is interesting! I'll need to do more exploration around magnet links, but it sounds like Flood should immediately force the hash check when magnet links are added, and apply the date property after the hash check completes.

[2017-05-25 04:04] jfurrow commented on #359
I feel pretty dumb for not having thought of this, but you're absolutely right, the files should not be compressed at all. Flood uses the https://github.com/archiverjs/node-archiver, which itself uses https://github.com/npm/node-tar to create the tar files. I'll explore the API options and see if removing compression entirely resolves this issue.

[2017-05-25 04:06] jfurrow commented on #360
I believe this is the same issue as https://github.com/jfurrow/flood/issues/320, so I'll close this for now.

A solution is in the works, and if that doesn't fix this, then I'll evaluate this separately.

[2017-05-25 04:06] #360 closed

[2017-05-25 04:07] jfurrow commented on #365
Interesting... I'll investigate. Thanks for the issue!

[2017-05-25 04:09] jfurrow commented on #366
Thanks for the issue! Do you mean you'd like to see `config.js` in a separate or configurable directory? Or injected as environment variables?

[2017-05-25 05:28] userdocs commented on #365
Just realised the title of the issue was 404 when I meant 401.

[2017-05-25 06:58] romancin commented on #320
I did the change you propose and the same behavior.

[2017-05-25 10:40] NoLooseEnds opened #367 "Adding hostname to title for easier identification"
It would be nice to see the hostname of the server that runs Flood in the title, ie. like this:
<img width="622" alt="flood__firefly_" src="https://cloud.githubusercontent.com/assets/4103531/26447058/ac96930c-413e-11e7-8558-12271d6b99d7.png">

If you have multiple instances of flood across different servers, it's great to see which is one.

I tried to [make a commit](https://github.com/jfurrow/flo

[2017-05-26 00:45] wopian commented on #367
Using the hostname wasn't really an ideal solution, as if you run Flood twice on the same server, they'd have the same hostname.

Allowing users to give their Flood instance a name and display it like `Flood [firefly]` I 👍. Maybe give users the option of just having the name too, e.g `Firefly` instead of `Flood [firefly]`.

[2017-05-26 08:27] NoLooseEnds commented on #367
@wopian
I never thought of that use case.

Is it common to run multiple instances of rtorrent/flood on the same server as the same user? (I get ie. seedbox setups with multiple different users, but that shouldn't be a issue).

Maybe it's possible to add an option on first launch (maybe that defaults to hostname), and then being able to change it in settings/conf.

[2017-05-26 10:06] frebib commented on #347
Apologies for not following up on this.
Yeah it still happens, pretty much every 5 minutes or so. It's very strange and I can't work out what a _cancelled_ request means. Does that mean Chrome is cancelling it?
I have my final exam this afternoon so I'll try and do some digging this next week or so

[2017-05-26 10:07] frebib commented on #347
I'm reading some reports that ad blockers could potentially affect it so I'll run for a while with uBlock disabled and let you know

[2017-05-26 10:13] frebib commented on #347
The part that interests me over the fact requests are being cancelled is that no more attempts are made when it fails.
Ideally I would imagine there should be a timeout where it retries regardless of how the first request failed- similar to the functionality of TCP timeouts where it tracks the rolling average RTT+a bit then retry if the request hasn't responded in that time

[2017-05-26 15:23] varyoo commented on #366
For now if I want to run two instances of Flood on the same computer I have to clone all the files (source code, configuration and runtime files) for each instance. I was wondering if the source code could be separated from the other two, so it can be used by all instances. Not sure if this is usual or even desirable with Javscript programs. Thank you!

[2017-05-26 16:01] Phr33d0m commented on #345
The most I could find is [this reddit post about editing the containing directory](https://www.reddit.com/r/torrents/comments/4vobu3/rtorrent_renaming_the_parent_directory_of_files/) which would be enough for now at least.

Could you have a look please?

[2017-05-26 18:04] Phr33d0m opened #368 "[Bug] Flood crashes when RSS feed is not a RSS feed"
Hi,

If you add a new RSS feed and enter a URL that's not an RSS feed then flood crashes. This is reproducible always.

I'll try to reproduce again when I'm not actively using it, if necesary.

Regards.

[2017-05-27 20:47] Centzilius opened #369 "Folders with special characters"
Hi,
it is not possible to move a torrent to a folder containing a special character (like: `käse`). It is also not possible to add torrents and set the destination folder to a folder containing a special character. No error message is shown in browser and there is no HTTP error response.

[2017-05-28 22:23] Phr33d0m commented on #366
Hello @varyoo , from what I've seen you can wipe the 'client' folder and flood will work just fine.

At first I thought you want to try to package flood for a certain linux distro, although it seems you want an easy way to run multiple instances of flood? I'm currently running 10 instances of flood from the same folder with a very ugly hack to gulpfile which receives the config file as a paremeter

[2017-05-28 22:36] Phr33d0m opened #371 "[Request] Max seed (time / ratio)"
Hi,

To exemplify better have a look at this screenshot from KTorrent (_note: the default seed time is in hours_):
![image](https://cloud.githubusercontent.com/assets/1591486/26532626/2a1560e6-4406-11e7-90f2-979d9bd53356.png)

Something like this would be an awesome asset to flood. An addition to the screenshot would be what to do with the torrent once the max seeded time was reached or the max ra

[2017-05-29 05:20] jfurrow opened #373 "Only add URL to matchedTorrents in feeds DB if successfully added"
When adding new feeds and rules, it's possible to flood rTorrent with many new torrents at one time. Sometimes rTorrent can't handle this and drops a bunch of the new torrents ([see this issue](https://github.com/jfurrow/flood/issues/331), so let's not add them to the `matchedTorrents` array in the feeds database.

[2017-05-29 20:33] varyoo commented on #366
Yes I wanted to package it, which require sharing the same code for multiple instances, not a priority I agree.

[2017-05-30 20:15] ZerataX opened #374 "Total Upload / Download resets after restarting rtorrent"
For individual torrents this doesn't seem to be the case, but the top left counter for every torrent seems to reset.
I think it would be neat if this could persist a restart.

[2017-05-31 10:24] squaresmile opened #375 "Sort seeds (a of b) by 'b' if it has the same 'a'"
I hope I explain myself well. I have multiple torrents with seeds `0 of x`. When I sort by seeds, they are sorted by 0 but x is all over the place. It would be great if x is sorted so I can remove the torrents with most seeders at the moment.

[2017-06-01 09:08] berot3 commented on #282
would love to see a responsive flood! Please make it happen!

I just discoverd that rutorrent has even 2 mobile-plugins! [1](https://github.com/xombiemp/rutorrentMobile) and [2](https://github.com/JimmyLaurent/ru-mobile/)

But with your design it would look much cooler ofc :smile:

[2017-06-08 08:25] albaldi opened #377 "Connection refused at 127.0.0.1:5000. Check these values in config.js and ensure that rTorrent is running."
Hi, I'm using rtorrent on archlinux [1].
Added this two lines to my rtorrent.rc as explained[2]
[code]

and started with` screen -S torrent rtorrent`

[code]
cloned your repo and builded a docker image
[code]
then I run rtorrent-flood like this:
[code]

any way to help me debug the problem?

thanks

[1] https://git.archlinux.org/svntogit/community.git/tree/trunk/PKGBUILD?h=packages/rtorrent
[2]  h

[2017-06-08 08:35] midzer commented on #377
I experience same issue when rTorrent is auto-started as a systemd daemon, too.

Although `systemctl status rtorrent` says rTorrent is running, there are connection problems. I have to reboot system (several times) until somehow it is working magically.

Note:
rTorrent has been installed via https://github.com/Kerwood/Rtorrent-Auto-Install using ruTorrent before which had same connection problems

[2017-06-08 09:43] albaldi commented on #377
To be sure is not a rtorrent problem I tried:
`sudo pacman -S lighttpd`

edit _/etc/lighttpd/lighttpd.conf_ and added
[code]

after that
[code]

and it works:
[code]

Tried again
[code]

So I am thinking is something network related.
Now to access fllod on port 3000 on docker image it needed to be mapped to a local port. Maybe to let docker access local port 5000 I need to do something similar?

s

[2017-06-12 09:08] runaroundhome opened #380 "[Request] Custom date format?"
Is it possible to be able to set the date format, as currently it's `mm/dd/yyyy` I'd like something like `dd/mm/yyyy`?

[2017-06-12 16:32] NoLooseEnds opened #381 "Can no longer filter by tracker?"
I pulled the latest source, and I can no longer sort by tracker. It still only shows all torrents.
I tried to get rid off all, and start over, but still the same issue.

Also, If I add i.e "Created" to the torrent list, it still does not show up in the "Sort by" dropdown menu.

Anyone else experienced this?

Attached screenshot. Notice that a tracker with 1 torrent is selected, but it still shows

[2017-06-12 16:37] NoLooseEnds opened #382 "Can no longer see how many peers/seeds in list"
After I pulled the new version, I can no longer see peers/seeds in the main windows. All it shows is "NaN of NaN"

<img width="1429" alt="flood" src="https://user-images.githubusercontent.com/4103531/27044531-c540c106-4f95-11e7-8d49-43ce1131c7a8.png">

[2017-06-12 16:55] noraj1337 commented on #382
First I didn't see because I was using the condensed view, but testing the Expanded view I have the same behaviour. I, also, just updated last week-end.

[2017-06-12 16:57] NoLooseEnds commented on #382
Can confirm I can see peers/seeds in the condensed view.

[2017-06-13 05:56] jfurrow commented on #382
Thanks for the bug report — I missed this when changing some property names... this is why I need to write tests. 😭

[2017-06-13 05:57] jfurrow commented on #381
I'll check this out, thanks for reporting!

[2017-06-13 10:06] darkbeuh commented on #381
Same here.

Fresh install. Filters worked a couple times than nothing.

I believe this happened after I tried combining column sorting and filters

[2017-06-13 10:26] Typhon0 opened #383 "[Request] Size available on the disk / directory"
Hi, an indicator of the available space disk will be great on the main page . Something like on the bottom of the Deluge Web-UI.

Thanks

[2017-06-13 12:21] wopian commented on #383
#308

[2017-06-13 12:22] Typhon0 commented on #383
@wopian Oups sry

[2017-06-13 12:22] #383 closed

[2017-06-13 15:54] Daiyousei commented on #381
Same error for me.

I get an exception in the dev console :
[code]

[2017-06-13 16:56] noraj1337 commented on #381
In the Concentrated view filter by tracker doesn't work neither.

[2017-06-13 17:16] noraj1337 opened #384 "[Feature Request] Add a logout button"
There is a support form multi-user but there is no logout button. Or even for security purpose I may want to disconnect.

[2017-06-13 17:40] noraj1337 opened #385 "[Request] Create a documentation"
It would be nice if your provide a documentation containing, for example, details about `config.js` params, and all the things you put on the README like install steps, dev tips, docker, etc...

[2017-06-13 19:36] noraj1337 commented on #224
I have only about 100 torrents, and using Flood with Firefox make my CPU use 1 core at 100% usage so my fan is very noisy.

[2017-06-13 20:04] noraj1337 opened #386 "[Question] How to configure nginx as reverse-proxy for flood?"
I tried a [generic way](http://www.nikola-breznjak.com/blog/javascript/nodejs/using-nginx-as-a-reverse-proxy-in-front-of-your-node-js-application/) to configure nginx as a reverse proxy for flood (node.js app):

`config.js`:

[code]

`/etc/nginx/servers-available/flood.conf`:

[code]

Flood is up and running, I can access it locally: `curl -k https://127.0.0.1:3000` but when trying to reach it via

[2017-06-14 23:48] 0xcaff commented on #386
I do. Here's my configuration:

config.js
[code]

Nginx:
[code]

[2017-06-14 23:50] 0xcaff commented on #385
What are you confused about? Most of this stuff seems obvious to me.

[2017-06-14 23:51] 0xcaff commented on #331
I was able to upload ~50 torrents at a time.

[2017-06-15 16:13] noraj1337 commented on #385
It's always better to have a documentation.
Some details about `config.js` are not clear.
All that is in the README is clear for me but it would be better to move it into a documentation.

[2017-06-15 16:39] noraj1337 commented on #386
Weird, I changed nothing and it works now so my config is valid.

[2017-06-15 16:39] #386 closed

[2017-06-16 05:33] sachk commented on #385
There is some documentation in the wiki section of this repo, including info about config.js params.

[2017-06-16 15:38] NoLooseEnds opened #387 "ETA is missing in "Expanded View""
ETA is missing in "Expanded View"

[2017-06-16 20:39] noraj1337 commented on #385
@sachk : you kidding? I wrote it...

[2017-06-20 14:29] mikkoc opened #388 "Error: Cannot find module 'pug'"
Hello,
I'm getting this error when trying to reach my flood Docker container:

[code]

docker logs:
[code]

What am I missing?

[2017-06-22 09:11] sachk opened #389 "[Feature Request] The ability to add trackers"
Hey, i love this webui, the one thing that i think is missing is the ability to add trackers from the trackers panel in torrent details. The ability to add a list of trackers by default would also be nice. Thanks to all the contributors to this project.

[2017-06-24 13:39] 320x200 commented on #381
Same here, just updated today.

`TypeError: e.trackers is undefined`

[2017-06-25 00:08] JohnFlowerful opened #390 "Torrents with multiple files aren't handled correctly"
When adding a torrent with multiple files (e.g. [this](http://linuxtracker.org/index.php?page=torrent-details&id=a35898f236132f3fad41b445473dc6a206700827)), the parent directory for the torrent is not created. Instead the torrent's files are created in the directory specified by 'Destination'.

The torrent directory can be created with 'Set Download Location', but that leads me to another issue: W

[2017-06-25 00:13] JohnFlowerful commented on #158
Gonna bump this.
Is it possible to delete the *empty* directories left over from the torrents?

[2017-06-25 00:44] varyoo commented on #390
I observed the same issue since the "Base path" option has been added.

[2017-06-28 20:45] Hayath opened #391 "Can't access to Flood after login, infinite loading"
Hi,

I get this screen and it's loading like forever :

![fireshot capture 42 - flood - http___37 59 61 185_3001_overview](https://user-images.githubusercontent.com/4759683/27659220-f54fd5b6-5c52-11e7-898e-04f7320b507d.png)

Also, i had to change option in config.js because i cannot access to http://myserver:3000.
This is the lines i changed :
[code]
I get this :
[code]
Does someone have an idea t